<script type="text/template" id="config">
 <div class="row" style="padding:1% 0%;" >
			<div class="col-lg-12">
				<div class="pull-left">
					<table>
						<td><p><h4><b>Simulation Name: &nbsp; </b></h4></p></td>
						<td><h4><p id="Simulation_Name"><%=simName%><p><h4></td>
					</table>
				</div>
		    	<div class="pull-right btn-configuration-global" >
		    		<button id="crystalMgrBtn" href="#crystalDialog" class="btn btn-warning">Crystal Structure Manager</button>
		    		<button id="materialMgrBtn" href="#materialDialog" class="btn btn-warning">Material Manager</button>
					<button id="controlMgrBtn" href="#controlDialog" class="btn btn-warning">Control Manager</button>
					<button id="saveAllBtn" data-toggle="modal" href="#saveAllDialog" class="btn btn-warning">Save All</button>
					<button id="clearAllBtn" data-toggle="modal" href="#clearAllDialog" class="btn btn-warning">Clear All</button>
					<button type="button" id="loadAllBtn" class="btn btn-warning">Load All</button>
				</div><!--end of btn configuration-global -->
			</div>
		</div><!--end of row-->
		
		<form id="config-form">
    	<div id="wizard" style="">
    		
    		<legend>
				Volume & Layer Property
			</legend>
         	<fieldset>
         		<div class='col-lg-12' >
	         			<div class="pull-right btn-configuration-local">
	         			<button type="button" class="btn btn-primary import-material">Import material file</button>
	         			<button type="button" class="btn btn-primary save">Save step</button>
						<button type="button" class="btn btn-primary clear">Clear step</button>
						<button type="button" class="btn btn-primary load">Load step</button> 
					</div>
         		</div>
         		<div class='row'>
         			
					<div class='col-lg-3'>
						<label for='Volume_Size'>Volume Size</label>
						<input id='Volume_Size_x' name='Volume_Size_x' type='text' value='<%=Volume_Size_x%>' style="width:100px;margin:4px"/>
						<input id='Volume_Size_y' name='Volume_Size_y' type='text' value='<%=Volume_Size_y%>' style="width:100px;margin:4px"/>					
					</div>
					
					</div>
         		<div class="row">
         			<div class="col-lg-3">
		         		<label for='Num_Layer'>Number of layers</label>
						<input id='Num_Layer' name='Num_Layer' type='text'  value='<%=Num_Layer%>' readonly="readonly" />
						<button type="button" id="addLayerBtn" class="glyphicon glyphicon-plus addlayer"></button>
						<button type="button" id="rmLayerBtn" class="glyphicon glyphicon-minus rmlayer"></button>
					</div>
					<div class='col-lg-3'>
						<label for='iInterface'>Interface option</label>
						<select id='iInterface' name='iInterface' value='<%=iInterface%>'>
							<option value='0'>stop</option>
							<option value='1'>image forces</option>
						</select>
					</div>
				</div>
				<hr style="border-top: 1px solid #FFFFFF">
				<ul id ="list-layers" style="list-style: none;">	
				</ul>
			
		</fieldset>
    		<legend>
				Dislocation
			</legend>
    		<fieldset>
    			<div class='col-lg-12' >
	         			<div class="pull-right btn-configuration-local">
	         			<button type="button" class="btn btn-primary generate-defect">Generate dislocations</button>
	         			<button type="button" class="btn btn-primary import-defect">Import dislocation file</button>
	         			<button type="button" class="btn btn-primary visualize">Visualize microstructure</button>
	         			<button type="button" class="btn btn-primary save">Save step</button>
						<button type="button" class="btn btn-primary clear">Clear step</button>
						<button type="button" class="btn btn-primary load">Load step</button> 
						<input type="file" id="dislocation_file" style ="display:none" />
					</div>
         		</div>
				<div class="row">
         			<div class="col-lg-12">
		         		<label for='Num_Defect'>Number of dislocations</label>
						<input id='Num_Defect' name='Num_Defect' type='text' value='<%=Num_Defect%>' readonly="readonly" />
						<button type="button" id="addDefectBtn" class="glyphicon glyphicon-plus adddefect"></button>
						<button type="button" id="rmDefectBtn" class="glyphicon glyphicon-minus rmdefect"></button>
					</div>
				</div>
				<hr style="border-top: 1px solid #FFFFFF">
				<ul id ="list-defects" style="list-style: none;">	
				</ul>
				
			</fieldset>
			<legend>
				Simulation Control
			</legend>
			<fieldset>
				<div class='col-lg-12' >
	         			<div class="pull-right btn-configuration-local">
	         			<button type="button" class="btn btn-primary save">Save step</button>
						<button type="button" class="btn btn-primary clear">Clear step</button>
						<button type="button" class="btn btn-primary load">Load step</button>  
					</div>
         		</div>
				<div class='row'>
					<div><input type='text' name='SimCo_ID' value='<%=SimCo_ID%>' style="display:none"></div>
					<div class="col-lg-3">
						<label for='Control_UserDefined'>Control Source</label>	
						<select id='Control_UserDefined'  name='Control_UserDefined' value='<%=Control_UserDefined%>'>
							<option value='0'>From Database</option>
							<option value='1'>User Defined</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class='col-lg-3'>
						<label >Choose control</label>
						<select id='Control_Name' name='Control_Name'>
						</select>
					</div>
					<div class='col-lg-3'>
						<label for='ILoop_Time'>Number of steps</label>
						<input id='ILoop_Time' name='ILoop_Time' type='text' value='<%=ILoop_Time%>' />
					</div>
					<div class='col-lg-3'>
						<label for='DTIME_MAX'>Max time step</label>
						<input id='DTIME_MAX' name='DTIME_MAX' type='text' value='<%=DTIME_MAX%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='DTIME_MIN'>Min time step</label>
						<input id='DTIME_MIN' name='DTIME_MIN' type='text' value='<%=DTIME_MIN%>'/>
					</div>
				</div>
				<div class="row">
					<div class='col-lg-3'>
						<label for='Load'>Load type</label>
						<select id='Load' class='readonly' name='Load' value='<%=Load%>'>
							<option value='1'>Applied Strain Rate</option>
							<option value='2'>Applied Stress Rate</option>
						</select>
					</div>
					<div class='col-lg-3'>
						<label for='iRelaxtion'>Relaxtion</label>
						<select id='iRelaxtion' class='readonly' name='iRelaxtion' value='<%=iRelaxtion%>'>
							<option value='0'>No</option>
							<option value='1'>Yes</option>
						</select>
					</div>
					<div class='col-lg-3'>
						<label for='iRelaxStep'>Number of Relaxtion steps</label>
						<input id='iRelaxStep' name='iRelaxStep' type='text' value='<%=iRelaxStep%>' readonly="readonly"/>
					</div>
					
				</div>
				<div class='row applied_force'>
					<div class='col-lg-12'>
						<label >Applied Strain Rate(s<sup>-1</sup>)</label>
						<input id='AF_01' name='AF_01' type='text' value='<%=AF_01%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='AF_02' name='AF_02' type='text' value='<%=AF_02%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='AF_03' name='AF_03' type='text' value='<%=AF_03%>' style="width:100px;margin:4px" readonly="readonly"/>	
					</div>
					<div class='col-lg-12'>
						<input id='AF_04' name='AF_04' type='text' value='<%=AF_04%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='AF_05' name='AF_05' type='text' value='<%=AF_05%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='AF_06' name='AF_06' type='text' value='<%=AF_06%>' style="width:100px;margin:4px" readonly="readonly"/>	
					</div>
					<div class='col-lg-12'>
						<input id='AF_07' name='AF_07' type='text' value='<%=AF_07%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='AF_08' name='AF_08' type='text' value='<%=AF_08%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='AF_09' name='AF_09' type='text' value='<%=AF_09%>' style="width:100px;margin:4px" readonly="readonly"/>	
					</div>
				</div>
				<div class='row'>
					<div class='col-lg-12'>
						<label >Initial Applied Stress (MPa)</label>
						<input id='IAS_01' name='IAS_01' type='text' value='<%=IAS_01%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='IAS_02' name='IAS_02' type='text' value='<%=IAS_02%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='IAS_03' name='IAS_03' type='text' value='<%=IAS_03%>' style="width:100px;margin:4px" readonly="readonly"/>	
					</div>
					<div class='col-lg-12'>
						<input id='IAS_04' name='IAS_04' type='text' value='<%=IAS_04%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='IAS_05' name='IAS_05' type='text' value='<%=IAS_05%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='IAS_06' name='IAS_06' type='text' value='<%=IAS_06%>' style="width:100px;margin:4px" readonly="readonly"/>	
					</div>
					<div class='col-lg-12'>
						<input id='IAS_07' name='IAS_07' type='text' value='<%=IAS_07%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='IAS_08' name='IAS_08' type='text' value='<%=IAS_08%>' style="width:100px;margin:4px" readonly="readonly"/>
						<input id='IAS_09' name='IAS_09' type='text' value='<%=IAS_09%>' style="width:100px;margin:4px" readonly="readonly"/>	
					</div>
				</div>
			</fieldset>
			<legend>
				Numerical Procedure
			</legend>
			<fieldset>
				<div class='col-lg-12' >
	         			<div class="pull-right btn-configuration-local">
	         			<button type="button" class="btn btn-primary save">Save step</button>
						<button type="button" class="btn btn-primary clear">Clear step</button>
						<button type="button" class="btn btn-primary load">Load step</button> 
					</div>
         		</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='NPOINT_I'>Min dislocation nodes</label>
						<input id='NPOINT_I' name='NPOINT_I' type='text' value='<%=NPOINT_I%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='MAX_node'>Max dislocation nodes</label>
						<input id='MAX_node' name='MAX_node' type='text' value='<%=MAX_node%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='MAX_Neighbor'>Max neighbors</label>
						<input id='MAX_Neighbor' name='MAX_Neighbor' type='text' value='<%=MAX_Neighbor%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='MAX_QUAD'>Quadrature points</label>
						<input id='MAX_QUAD' name='MAX_QUAD' type='text' value='<%=MAX_QUAD%>' />
					</div>
				</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='dpMaxAveLength'>Segment mesh size</label>
						<input id='dpMaxAveLength' name='dpMaxAveLength' type='text' value='<%=dpMaxAveLength%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='dcrit'>Interaction distance</label>
						<input id='dcrit' name='dcrit'  type='text' value='<%=dcrit%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='iArr'>Remeshing frequency</label>
						<input id='iArr' name='iArr'  type='text' value='<%=iArr%>'/>
					</div>
				</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='reebox'>Box method frequency</label>
						<input id='reebox' name='reebox' type='text' value='<%=reebox%>'/>
					</div>
					<div class='col-lg-6'>
						<label >Number of boxes</label>	
						<input id='nbox_x' name='nbox_x' value='<%=nbox_x%>' type='text' style="width:100px;margin:4px"/>
						<input id='nbox_y' name='nbox_y' value='<%=nbox_y%>' type='text' style="width:100px;margin:4px" />
						<input id='nbox_z' name='nbox_z' value='<%=nbox_z%>' type='text' style="width:100px;margin:4px" />
					</div>
				</div>	
				<div class='row'>
					<div class='col-lg-3'>
						<label for='iFEM'>FEM option</label>
						<select id='iFEM' name='iFEM'  value='<%=iFEM%>'>
							<option value='0'>0</option>
							<option value='1'>1</option>
							<option value='2'>2</option>
						</select>
					</div>
					<div class='col-lg-6'>
						<label >FE mesh size</label>	
						<input id='nElmtFe_x' name='nElmtFe_x' value='<%=nElmtFe_x%>' type='text' style="width:100px;margin:4px"/>
						<input id='nElmtFe_y' name='nElmtFe_y' value='<%=nElmtFe_y%>' type='text' style="width:100px;margin:4px" />
						<input id='nElmtFe_z' name='nElmtFe_z' value='<%=nElmtFe_z%>' type='text' style="width:100px;margin:4px" />
					</div>
				</div>	
			</fieldset>
			<legend>
				Simulation Options & Output
			</legend>
			<fieldset>
				<div class='col-lg-12' >
	         			<div class="pull-right btn-configuration-local">
	         			<button type="button" class="btn btn-primary save">Save step</button>
						<button type="button" class="btn btn-primary clear">Clear step</button>
						<button type="button" class="btn btn-primary load">Load step</button> 
					</div>
         		</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='CheckNeiBur'>Elastic interactions</label>
						<select id='CheckNeiBur' name='CheckNeiBur' value='<%=CheckNeiBur%>'>
							<option value=''></option>
							<option value='0'>No</option>
							<option value='1'>Yes</option>
						</select>
					</div>
					<div class='col-lg-3'>
						<label for='LogInteraction'>Dislocation interactions</label>
						<select  id='LogInteraction' name='LogInteraction'  value='<%=LogInteraction%>'>
							<option value='0'>No</option>
							<option value='1'>Yes</option>
						</select>
					</div>
					<div class='col-lg-3'>
						<label for='iCrossSlip'>Cross-slip</label>
						<select id='iCrossSlip' name='iCrossSlip' value='<%=iCrossSlip%>'>
							<option value='0'>No</option>
							<option value='1'>Yes</option>
						</select>
					</div>
					<div class='col-lg-3'>
						<label for='iInertial'>iInertial</label>
						<select  id='iInertial' name='iInertial'  value='<%=iInertial%>'>
							<option value='0'>No</option>
							<option value='1'>Yes</option>
						</select>
					</div>
				</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='FullyPeriodic'>Fully periodic</label>
						<select id='FullyPeriodic' name='FullyPeriodic'  value='<%=FullyPeriodic%>'>
							<option value='0'>No</option>
							<option value='1'>Yes</option>
						</select>
					</div>
					
				</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='ioutFe'>Internal stress/strain frequency</label>
						<input id='ioutFe' name='ioutFe' type='text'  value='<%=ioutFe%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='nBoxFe'>Boxes for internal stress/strain</label>
						<input id='nBoxFe' name='nBoxFe' type='text' value='<%=nBoxFe%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='iSplineFe'>Spline method</label>
						<select id='iSplineFe' name='iSplineFe' value='<%=iSplineFe%>'>
							<option value=''></option>
							<option value='0'>No</option>
							<option value='1'>Yes</option>
						</select>
					</div>
					<div class='col-lg-3'>
						<label >Displacements nodes</label>	
						<input id='DispNodes_x' name='DispNodes_x' value='<%=DispNodes_x%>' type='text' style="width:60px;margin:4px"/>
						<input id='DispNodes_y' name='DispNodes_y' value='<%=DispNodes_y%>' type='text' style="width:60px;margin:4px" />
						<input id='DispNodes_z' name='DispNodes_z' value='<%=DispNodes_z%>' type='text' style="width:60px;margin:4px" />
					</div>
				</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='iXRD'>XRD frequency</label>
						<input id='iXRD' name='iXRD' type='text' value='<%=iXRD%>'/>
					</div>
				</div>
				<div class='row'>
					<div class='col-lg-3'>
						<label for='iOutFreq'>Output frequency</label>
						<input id='iOutFreq' name='iOutFreq' type='text' value='<%=iOutFreq%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='iPastFreq'>Past frequency</label>
						<input id='iPastFreq' name='iPastFreq' type='text' value='<%=iPastFreq%>'/>
					</div>
					<div class='col-lg-3'>
						<label for='iDebugMode'>Debug mode</label>
						<select id='iDebugMode' name='iDebugMode' value='<%=iDebugMode%>'>
							<option value=''></option>
							<option value='0'>0</option>
							<option value='1'>1</option>
							<option value='2'>2</option>
						</select>
					</div>
				</div>		
			</fieldset>
    		<legend>
    			Final Step
    		</legend>
    		<fieldset>
    			<div class = "row">
	    			<div class="checkbox">
	   					 <label>
	    				  <input class="target-function" value="0" type="checkbox"> Generate Input files
	    				</label>
	  				</div>
	  				<div class="col-lg-4 inputfile-content" style="display: none">
	  					<div class='row'>
							<div class ='col-lg-6 text-center'>material_input.txt</div>
							<div class ='col-lg-6 text-center'><a target="_blank" id="material-download">Download</a></div>
						</div>
						<div class='row'>
							<div class ='col-lg-6 text-center'>interaction_geom_input.txt</div>
							<div class ='col-lg-6 text-center'><a target="_blank" id="interaction-download">Download</a></div>
						</div>
	    			</div>
	    		</div>
	  			<div class = "row">
	  				<div class="checkbox" style="font-weight: bold">
	   					 <label>
	    				  <input class="target-function" value="1" type="checkbox"> Run Simulation
	    				</label>
	  				</div>
	  				<div class="col-lg-4 processor-content" style="display: none">
	  					<label>
	    				Number of Processors 
	    				</label>
	    				<input id="nProcessor"  name ="nProcessor"  type="text" value="2"> 
	    			</div>
	  			</div>
         		
    		</fieldset>
    	</div><!--end of wizard-->
   	</form><!--end of form--> 

 <!-- Modal for saving all parameters -->
	<div class="modal fade" id="saveAllDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >Do you want to save all parameters?</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="okSaveAllBtn" class="btn btn-primary">
						Save All
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->  

<!-- Modal for clearing all parameters -->
	<div class="modal fade" id="clearAllDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >Do you want to clear all parameters?</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="okClearAllBtn" class="btn btn-primary">
						Clear All
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->   	
	
<!-- Modal for loading configuration -->
	<div class="modal fade" id="loadAllDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog" style="width:77%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="row">
						<div class="col-lg-4">
							<h4 class="modal-title" >Load all parameters</h4>
						</div>
					</div>			
				</div><!--end of modal header-->
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-4 list-group list-simulation">
							
						</div>
						<div class="col-lg-8 simulation-preview">
							<ul class="nav nav-tabs" id="previewTab">
							  <li class="active"><a href="#step0" data-toggle="tab">Step1</a></li>
							  <li><a href="#step1" data-toggle="tab">Step2</a></li>
							  <li><a href="#step2" data-toggle="tab">Step3</a></li>
							  <li><a href="#step3" data-toggle="tab">Step4</a></li>
							  <li><a href="#step4" data-toggle="tab">Step5</a></li>
							  
							</ul>
							<div class="tab-content" style="height:500px;overflow-y: scroll">
							  
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="okLoadAllBtn" class="btn btn-primary">
						Load All
					</button>
					<button type="button" id="okLoadStepBtn" class="btn btn-primary" style="display:none">
						Load Current Step
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->

<!-- Modal for material manager -->
	<div class="modal fade" id="crystalDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog" style="width:77%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="row">
						<div class="col-lg-4">
							<h4 class="modal-title" >Crystal Structure Manager</h4>
						</div>
						<div class="col-lg-6">
							<button type="button" class="btn btn-primary crystalMgrMode1" disabled>Existing Crystal Structure </button>
							<button type="button" class="btn btn-default crystalMgrMode2">New Crystal Structure</button>
						</div>
					</div>			
				</div><!--end of modal header-->
				<div class="modal-body" id="crystalBody1">
					<div class="row">
						<div class="col-lg-3 list-group list-crystal">
							
						</div>
						<div class="col-lg-9 slipSys-preview">	
							<div class="col-lg-12 crystal-info"></div>
							<table class="table table-bordered table-slipSys">
								<tr>
									<th style="width:4%;display:none">ID</th>
									<th style="width:12%;display:none">Structure Type</th>
									<th style="width:18%">System Name</th>
									<th style="width:5%">Mode</th>
									<th style="width:5%;display:none">nInd</th>
									<th class="MillerIdx" colspan="4" style="width:16%">Miller Index</th>
									<th class="BurgerIdx" colspan="4" style="width:16%">Burger Index</th>
									<th class="slipsys-actions" style="width:18%">Action</th>
								</tr>
								
							</table>
							<hr>
							<div class='row input-slipSys'>
								
								<input id='Crystal' name='Crystal' type='text'  style="display:none"/>
								<input id='Structure' name='Structure' type='text'  style="display:none"/>
								<input id='nInd' name='nInd' type='text'  style="display:none"/>
							
									<div class="col-lg-3">
										<label for='System_Name'>System Name</label>
										<input id='System_Name' name='System_Name' type='text'  style="width:100%" />
									</div>
									<div class="col-lg-1">
										<label for='mode'>Mode</label>
										<input id='mode' name='mode' type='text' style="width:100%"/>
									</div>
								
								
									<div class="col-lg-4">
										<label>Miller index</label>	
										<input id='M_01' name='M_01' type='text' style="width:50px;margin:0px 4px"/>
										<input id='M_02' name='M_02' type='text' style="width:50px;margin:0px 4px"/>
										<input id='M_03' name='M_03' type='text' style="width:50px;margin:0px 4px"/>
										<input class="M_04" id='M_04' name='M_04' type='text' style="width:50px;margin:0px 4px"/>
									</div>
									<div class="col-lg-4">
										<label>Burger index</label>	
										<input id='B_01' name='B_01' type='text' style="width:50px;margin:0px 4px"/>
										<input id='B_02' name='B_02' type='text' style="width:50px;margin:0px 4px"/>
										<input id='B_03' name='B_03' type='text' style="width:50px;margin:0px 4px"/>
										<input  class="B_04" id='B_04' name='B_04' type='text' style="width:50px;margin:0px 4px"/>
									</div>
								
							</div>
							
							<button type="button" id="addSlipSysBtn" class="btn btn-primary" style="margin-top:2%">Add New Slip System</button>
						</div>
					</div>
					
				</div>
				<div class="modal-body" id="crystalBody2" style="display:none">	
					<div class='row'>
						<div class="col-lg-3">
							<label for='Crystal'>Crystal Structure Name</label>
							<input id='Crystal' name='Crystal' type='text' />
								
						</div>
						<div class="col-lg-3">
							<label for='Structure'>Structure Type</label>
							<select id='Structure' name='Structure'>
									<option value='Cubic'>Cubic</option>
									<option value='Hexagonal'>Hexagonal</option>
									<option value='trigonal'>Trigonal</option>
									<option value='tetragonal'>Tetragonal</option>
									<option value='orthogonal'>Orthogonal</option>
									<option value='monoclinic'>Monoclinic</option>
									<option value='triclinic'>triclinic</option>
									
							</select>
						</div>						
						<div class="col-lg-3">
							<label for='nInd'># of index</label>
							<input type="text" id='nInd'  name='nInd' readonly="readonly"/>
						</div>
						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="deleteCrystalBtn" class="btn btn-danger">
						Delete Crystal
					</button>
					<button type="button" id="okCrystalBtn" class="btn btn-primary" style="display:none">
						Create New Crystal Structure
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->

<!-- Modal for material manager -->
	<div class="modal fade" id="materialDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog" style="width:77%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="row">
						<div class="col-lg-4">
							<h4 class="modal-title" >Material Manager</h4>
						</div>
						<div class="col-lg-6">
							<button type="button" class="btn btn-primary matMgrMode1" disabled>Existing Material </button>
							<button type="button" class="btn btn-default matMgrMode2">New Material</button>
						</div>
					</div>			
				</div><!--end of modal header-->
				<div class="modal-body" id="matBody1">
					<div class="row">
						<div class="col-lg-4 list-group list-material">
						</div>
						<div class="col-lg-8 material-preview">	
						</div>
					</div>
				</div>
				<div class="modal-body" id="matBody2" style="display:none">	
						<div class='row'>
							<div><input type="text" name="Material_UserDefined" value="0" readonly="readonly" style="display: none"/></div>
							<div class="col-lg-4">
								<label for='Material_Type'>Material Name</label>
					        	<input id='Material_Type' name='Material_Type' type='text' />	
							</div>
						</div>			
						<div class='row'>
							<div class="col-lg-3">
								<label for='Mu'>Mu (Pa)</label>
					            <input id='Mu' name='Mu' type='text' />	
							</div>
							<div class="col-lg-3">
								<label for='Nu'>Nu</label>
					            <input id='Nu' name='Nu' type='text' />	
							</div>
							<div class="col-lg-3">
							<label for='Crystal_Type'>Crystal Type</label>
								<select id='Crystal_Type' name='Crystal_Type'>
								</select>
							</div>
							<div class="col-lg-3">
								<label for='Lattice_Param'>Lattice Param (m)</label>
					            <input id='Lattice_Param' name='Lattice_Param' type='text' />	
							</div>
						</div>
						<div class='row'>
							<div class="col-lg-3">
								<label for='nSlip'># of slip modes</label>	
					            <input id='nSlip' name='nSlip' value='1' type='text' readonly="readonly"/>
					            
							</div>
							<div class="col-lg-3">
								<label for='Mobilityns'>Mobilityns (Pa&bull;s)</label>
					            <input id='Mobilityns' name='Mobilityns' type='text' />	
							</div>
							<div class="col-lg-3">
								<label for='Mobilitys '>Mobilitys (Pa&bull;s)</label>
					            <input id='Mobilitys' name='Mobilitys' type='text' />
							</div>
							<div class="col-lg-3">
								<label for='Anisotropy'>Anisotropy</label>
					        	<select id='Anisotropy' name='Anisotropy'>
								 	<option value=''></option>
								    <option value='1'>Yes</option>
								    <option value='0'>No</option>
								</select>
							</div>
						</div>
						<div class='row slip-contents'>
							<div class='slip-content'>
								<div class="col-lg-2">
									<label>Mode index</label>
									<select id='mode' name='mode'>
										
									</select>
								</div>
								<div class="col-lg-2">
									<label>Slip mode</label>	
						            <input id='Slip_Name' name='Slip_Name'  type='text'>        
								</div>
								<div class="col-lg-8">
									<label>Friction stress(MPa)/ Edge mobility(Pa&bull;s)/ Screw mobility(Pa&bull;s)/Magnitude Burger</label>	
									<input id='Slip_x' name='Slip_x' type='text' style="width:100px;margin:0px 4px"/>
									<input id='Slip_y' name='Slip_y' type='text' style="width:100px;margin:0px 4px"/>
									<input id='Slip_z' name='Slip_z' type='text' style="width:100px;margin:0px 4px"/>
									<input id='magBurger' name='magBurger' type='text' style="width:100px;margin:0px 4px"/>
								</div>
								
							</div>
						</div>
						<div class='col-lg-12'>
							<div class='row'>
								<label >Elastic stiffness matrix (MPa)</label>	
								<input id='E_01' name='E_01' type='text' style="width:100px;margin:4px"/>
								<input id='E_02' name='E_02' type='text' style="width:100px;margin:4px"/>
								<input id='E_03' name='E_03' type='text' style="width:100px;margin:4px"/>
								<input id='E_04' name='E_04' type='text' style="width:100px;margin:4px"/>
								<input id='E_05' name='E_05' type='text' style="width:100px;margin:4px"/>
								<input id='E_06' name='E_06' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>
								<input id='E_07' name='E_07' type='text' style="width:100px;margin:4px"/>
								<input id='E_08' name='E_08' type='text' style="width:100px;margin:4px"/>
								<input id='E_09' name='E_09' type='text' style="width:100px;margin:4px"/>
								<input id='E_10' name='E_10' type='text' style="width:100px;margin:4px"/>
								<input id='E_11' name='E_11' type='text' style="width:100px;margin:4px"/>
								<input id='E_12' name='E_12' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>
								<input id='E_13' name='E_13' type='text' style="width:100px;margin:4px"/>
								<input id='E_14' name='E_14' type='text' style="width:100px;margin:4px"/>
								<input id='E_15' name='E_15' type='text' style="width:100px;margin:4px"/>
								<input id='E_16' name='E_16' type='text' style="width:100px;margin:4px"/>
								<input id='E_17' name='E_17' type='text' style="width:100px;margin:4px"/>
								<input id='E_18' name='E_18' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>	
								<input id='E_19' name='E_19' type='text' style="width:100px;margin:4px"/>
								<input id='E_20' name='E_20' type='text' style="width:100px;margin:4px"/>
								<input id='E_21' name='E_21' type='text' style="width:100px;margin:4px"/>
								<input id='E_22' name='E_22' type='text' style="width:100px;margin:4px"/>
								<input id='E_23' name='E_23' type='text' style="width:100px;margin:4px"/>
								<input id='E_24' name='E_24' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>	
								<input id='E_25' name='E_25' type='text' style="width:100px;margin:4px"/>
								<input id='E_26' name='E_26' type='text' style="width:100px;margin:4px"/>
								<input id='E_27' name='E_27' type='text' style="width:100px;margin:4px"/>
								<input id='E_28' name='E_28' type='text' style="width:100px;margin:4px"/>
								<input id='E_29' name='E_29' type='text' style="width:100px;margin:4px"/>
								<input id='E_30' name='E_30' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>	
								<input id='E_31' name='E_31' type='text' style="width:100px;margin:4px"/>
								<input id='E_32' name='E_32' type='text' style="width:100px;margin:4px"/>
								<input id='E_33' name='E_33' type='text' style="width:100px;margin:4px"/>
								<input id='E_34' name='E_34' type='text' style="width:100px;margin:4px"/>
								<input id='E_35' name='E_35' type='text' style="width:100px;margin:4px"/>
								<input id='E_36' name='E_36' type='text' style="width:100px;margin:4px"/>
							</div>
						</div>
						<div class='col-lg-12'>
							<div class='row'>
								<label >LatticeRatios</label>	
								<input id='Lattice_Ratios_x' name='Lattice_Ratios_x' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Ratios_y' name='Lattice_Ratios_y' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Ratios_z' name='Lattice_Ratios_z' type='text' style="width:100px;margin:4px"/>
							</div>
						</div>
						<div class='col-lg-12'>
							<div class='row'>
								<label >Lattice Angles (deg)</label>	
								<input id='Lattice_Angles_x' name='Lattice_Angles_x' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Angles_y' name='Lattice_Angles_y' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Angles_z' name='Lattice_Angles_z' type='text' style="width:100px;margin:4px"/>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="modifyMaterialBtn" class="btn btn-primary">
						Modify
					</button>
					<button type="button" id="saveMaterialBtn" class="btn btn-primary btn-home" style="display:none">
						Save
					</button>
					<button type="button" id="deleteMaterialBtn" class="btn btn-danger">
						Delete
					</button>
					<button type="button" id="okMaterialBtn" class="btn btn-primary" style="display:none">
						Create New Material
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->



<!-- Modal for control manager -->
	<div class="modal fade" id="controlDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog" style="width:77%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="row">
						<div class="col-lg-4">
							<h4 class="modal-title" >Simulation Control Manager</h4>
						</div>
						<div class="col-lg-6">
							<button type="button" class="btn btn-primary ctrlMgrMode1" disabled>Existing Control </button>
							<button type="button" class="btn btn-default ctrlMgrMode2">New Control</button>
						</div>
					</div>			
				</div><!--end of modal header-->
				<div class="modal-body" id="ctrlBody1">
					<div class="row">
						<div class="col-lg-4 list-group list-control">
						</div>
						<div class="col-lg-8 control-preview">	
						</div>
					</div>
				</div>
				<div class="modal-body" id="ctrlBody2" style="display:none">
					<div class='row'>
						<div><input type="text" name="Control_UserDefined" value="0" readonly="readonly" style="display: none"/></div>
						<div class="col-lg-4">
							<label for='Control_Name'>Control Name</label>
					   	 	<input id='Control_Name' name='Control_Name' type='text' />		
					   	 </div>
					</div>	
					<div class="row">
						<div class='col-lg-3'>
							<label for='Load'>Load</label>
							<select id='Load' name='Load' >
								<option value='1'>Applied Strain Rate</option>
								<option value='2'>Applied Stress Rate</option>
							</select>
						</div>
						<div class='col-lg-3'>
							<label for='iRelaxtion'>Relaxtion</label>
							<select id='iRelaxtion' name='iRelaxtion' >
								<option value=''></option>
								<option value='0'>No</option>
								<option value='1'>Yes</option>
							</select>
						</div>
						<div class='col-lg-3'>
							<label for='iRelaxStep'>Number of Relaxtion Steps</label>
							<input id='iRelaxStep' name='iRelaxStep' type='text'/>
						</div>
					</div>
					<div class='row applied_force'>
						<div class='col-lg-12'>
							<label >Applied Strain Rate(s<sup>-1</sup>)</label>
							<input id='AF_01' name='AF_01' type='text' style="width:100px;margin:4px" />
							<input id='AF_02' name='AF_02' type='text' style="width:100px;margin:4px" />
							<input id='AF_03' name='AF_03' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='AF_04' name='AF_04' type='text' style="width:100px;margin:4px" />
							<input id='AF_05' name='AF_05' type='text' style="width:100px;margin:4px" />
							<input id='AF_06' name='AF_06' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='AF_07' name='AF_07' type='text' style="width:100px;margin:4px" />
							<input id='AF_08' name='AF_08' type='text' style="width:100px;margin:4px" />
							<input id='AF_09' name='AF_09' type='text' style="width:100px;margin:4px" />	
						</div>
					</div>
					<div class='row'>
						<div class='col-lg-12'>
							<label >Initial_Applied_Stress</label>
							<input id='IAS_01' name='IAS_01' type='text' style="width:100px;margin:4px" />
							<input id='IAS_02' name='IAS_02' type='text' style="width:100px;margin:4px" />
							<input id='IAS_03' name='IAS_03' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='IAS_04' name='IAS_04' type='text' style="width:100px;margin:4px" />
							<input id='IAS_05' name='IAS_05' type='text' style="width:100px;margin:4px" />
							<input id='IAS_06' name='IAS_06' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='IAS_07' name='IAS_07' type='text' style="width:100px;margin:4px" />
							<input id='IAS_08' name='IAS_08' type='text' style="width:100px;margin:4px" />
							<input id='IAS_09' name='IAS_09' type='text' style="width:100px;margin:4px" />	
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="modifyControlBtn" class="btn btn-primary">
						Modify
					</button>
					<button type="button" id="saveControlBtn" class="btn btn-primary btn-home" style="display:none">
						Save
					</button>
					<button type="button" id="deleteControlBtn" class="btn btn-danger">
						Delete
					</button>
					<button type="button" id="okControlBtn" class="btn btn-primary" style="display:none" >
						Create New Control
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->   
	 
	<!-- Modal for add new dislocations -->
	<div class="modal fade" id="addDefectDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >Add new dislocations</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-4">
							<label># of dislocations</label>
							<input id="nDefects" name="nDefects" type="text" style="width:120px;margin:4px"/>
						</div>
						<div class="col-lg-5">
							<label>Density</label>
							<input id="density" name="density" type="text" style="width:120px;margin:4px"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<label>Layer</label>
							<select id="layer" name="layer" style="width:120px;margin:4px">				
								<option value="random">random</option>	
							</select>
						</div>
						<div class="col-lg-5">
							<label>Slip system</label>
							<select id="System_Name" name="System_Name" style="width:120px;margin:4px">
								<option value="random">random</option>	
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-8">
							<label>Length</label>
							Min: <input id="minLength" name="minLength" type="text" style="width:100px;margin:4px"/>
							Max: <input id="maxLength" name="maxLength" type="text" style="width:100px;margin:4px"/>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="okAddDefectBtn" class="btn btn-primary">
						Add new dislocations
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->   
	 
	<!-- Modal for visualizing the microstructure -->
	<div class="modal fade" id="visualizeDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:65%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >Visualize the microstructure</h4>
				</div>
				<div class="modal-body">
					<div id="crystal-container" style="width:100%;height:500px"></div>
				</div>
				<div class="modal-footer">
					<button type="button" id="closeVisualization" class="btn btn-default" data-dismiss="modal" >
						Close
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->
</script>

<script type="text/template" id="layer">
<li style="display: block; margin-bottom:5px;padding:15px;border:1px solid #C7C7C7">
	<div class='row layer-item'>
		<div class="col-lg-2">
			<a class="btn btn-primary btn-tooglelayer" href="#Layer<%=LayerID%>" data-toggle="collapse">Layer <%=LayerID%></a>
		</div>
		
	</div>
	<!--layer item-->

	<div id="Layer<%=LayerID%>" class="collapse layer-content">
		<div class='row'>
			<div class="col-lg-3">
				<label for='Material_UserDefined'>Material Source</label>	
				<select id='Material_UserDefined'  name='Material_UserDefined' value='Material_UserDefined'>
					<option value='0'>From Database</option>
					<option value='1'>User Defined</option>
				</select>
			</div>
		</div>
		<div class='row'>
			<div><input id='Mat_ID' name='Mat_ID' type='text' value='<%=Mat_ID%>' style="display:none"></div>
			<div class="col-lg-3">
				<label >Choose material</label>
				<select id='Material_Type' name='Material_Type' value='<%=Material_Type%>'>
				</select>
			</div>
			<div class="col-lg-3">
				<label for='Thickness'>Thickness</label>
				<input id='Thickness' name='Thickness' type='text'value='<%=Thickness%>'/>
			</div>
			<div class='col-lg-6'>
				<label >Euler Angles</label>
				<input id='Euler_Angles_x' name='Euler_Angles_x' type='text' value='<%=Euler_Angles_x%>' style="width:100px;margin:4px"/>
				<input id='Euler_Angles_y' name='Euler_Angles_y' type='text' value='<%=Euler_Angles_y%>' style="width:100px;margin:4px"/>
				<input id='Euler_Angles_z' name='Euler_Angles_z' type='text' value='<%=Euler_Angles_z%>' style="width:100px;margin:4px"/>
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-3">
				<label for='Mu'>Mu (Pa)</label>
				<input id='Mu' name='Mu' type='text' value='<%=Mu%>' readonly="readonly"/>
			</div>
			<div class="col-lg-3">
				<label for='Nu'>Nu</label>
				<input id='Nu' name='Nu' type='text' value='<%=Nu%>' readonly="readonly"/>
			</div>
			<div class="col-lg-3">
				<label for='Crystal_Type'>Crystal Type</label>	
				<select id='Crystal_Type' class='readonly' name='Crystal_Type' value='<%=Crystal_Type%>'>
					
				</select>
			</div>		
			<div class="col-lg-3">
				<label for='Lattice_Param'>Lattice Parameter (m)</label>
				<input id='Lattice_Param' name='Lattice_Param' type='text' value='<%=Lattice_Param%>' readonly="readonly"/>
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-3">
				<label for='nSlip'># of slip modes
					<!--<button type="button"  id="addSlipBtn" class="glyphicon glyphicon-plus addslip" disabled></button>-->
					<!--<button type="button"  id="rmSlipBtn" class="glyphicon glyphicon-minus rmslip"  disabled></button>-->
				</label>
				<input id='nSlip' name='nSlip' type='text' value='<%=nSlip%>' readonly="readonly"/>	
			</div>
			<div class="col-lg-3">
				<label for='Mobilityns'>Mobility(Pa&bull;s)</label>
				<input id='Mobilityns' name='Mobilityns' type='text' value='<%=Mobilityns%>'readonly="readonly"/>
			</div>
			<div class="col-lg-3">
				<label for='Mobilitys '>Mobility(Pa&bull;s) </label>
				<input id='Mobilitys' name='Mobilitys' type='text' value='<%=Mobilitys%>'readonly="readonly"/>
			</div>
			<div class="col-lg-3">
				<label for='Anisotropy'>Anisotropy</label>
				<select id='Anisotropy' class='readonly' name='Anisotropy' value='<%=Anisotropy%>'>
					<option value=''></option>
					<option value='1'>Yes</option>
					<option value='0'>No</option>
				</select>
			</div>
		</div>
		<div class='row slip-contents'>
		</div>
		<div class='row'>
			<div class='col-lg-12'>
				<label >Elastic stiffness matrix (MPa)</label>
				<input id='E_01' name='E_01' type='text' value='<%=E_01%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_02' name='E_02' type='text' value='<%=E_02%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_03' name='E_03' type='text' value='<%=E_03%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_04' name='E_04' type='text' value='<%=E_04%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_05' name='E_05' type='text' value='<%=E_05%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_06' name='E_06' type='text' value='<%=E_06%>' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
			<div class='col-lg-12'>
				<input id='E_07' name='E_07' type='text' value='<%=E_07%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_08' name='E_08' type='text' value='<%=E_08%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_09' name='E_09' type='text' value='<%=E_09%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_10' name='E_10' type='text' value='<%=E_10%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_11' name='E_11' type='text' value='<%=E_11%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_12' name='E_12' type='text' value='<%=E_12%>' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
			<div class='col-lg-12'>
				<input id='E_13' name='E_13' type='text' value='<%=E_13%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_14' name='E_14' type='text' value='<%=E_14%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_15' name='E_15' type='text' value='<%=E_15%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_16' name='E_16' type='text' value='<%=E_16%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_17' name='E_17' type='text' value='<%=E_17%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_18' name='E_18' type='text' value='<%=E_18%>' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
			<div class='col-lg-12'>
				<input id='E_19' name='E_19' type='text' value='<%=E_19%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_20' name='E_20' type='text' value='<%=E_20%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_21' name='E_21' type='text' value='<%=E_21%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_22' name='E_22' type='text' value='<%=E_22%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_23' name='E_23' type='text' value='<%=E_23%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_24' name='E_24' type='text' value='<%=E_24%>' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
			<div class='col-lg-12'>
				<input id='E_25' name='E_25' type='text' value='<%=E_25%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_26' name='E_26' type='text' value='<%=E_26%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_27' name='E_27' type='text' value='<%=E_27%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_28' name='E_28' type='text' value='<%=E_28%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_29' name='E_29' type='text' value='<%=E_29%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_30' name='E_30' type='text' value='<%=E_30%>' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
			<div class='col-lg-12'>
				<input id='E_31' name='E_31' type='text' value='<%=E_31%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_32' name='E_32' type='text' value='<%=E_32%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_33' name='E_33' type='text' value='<%=E_33%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_34' name='E_34' type='text' value='<%=E_34%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_35' name='E_35' type='text' value='<%=E_35%>' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='E_36' name='E_36' type='text' value='<%=E_36%>' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6'>
				<label >Lattice Ratios</label>	
				<input id='Lattice_Ratios_x' name='Lattice_Ratios_x' value='<%=Lattice_Ratios_x%>' type='text' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='Lattice_Ratios_y' name='Lattice_Ratios_y' value='<%=Lattice_Ratios_y%>' type='text' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='Lattice_Ratios_z' name='Lattice_Ratios_z' value='<%=Lattice_Ratios_z%>' type='text' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6'>
				<label >Lattice Angles (deg)</label>
				<input id='Lattice_Angles_x' name='Lattice_Angles_x' value='<%=Lattice_Angles_x%>' type='text' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='Lattice_Angles_y' name='Lattice_Angles_y' value='<%=Lattice_Angles_y%>' type='text' style="width:100px;margin:4px" readonly="readonly"/>
				<input id='Lattice_Angles_z' name='Lattice_Angles_z' value='<%=Lattice_Angles_z%>' type='text' style="width:100px;margin:4px" readonly="readonly"/>
			</div>
		</div>
	</div>
</li>
</script>

<script type="text/template" id="slip">
	<div class="slip-content">
		<div class='col-lg-12'>
			<label></label>
			<b>Mode index:</b> 
				<select id='mode' class='readonly' name='mode' value='<%=mode%>' style="width:50px;margin:4px">
					
				</select>
			<b>Slip mode:</b> <input id='Slip_Name' name='Slip_Name' value='<%=Slip_Name%>' type='text' style="width:80px;margin:4px" readonly="readonly"/>
			Friction Stress(MPa)<input id='Slip_x' name='Slip_x' value='<%=Slip_x%>' type='text' style="width:70px;margin:4px" readonly="readonly"/>
			Edge mobility(Pa&bull;s)<input id='Slip_y' name='Slip_y' value='<%=Slip_y%>' type='text' style="width:70px;margin:4px" readonly="readonly"/>
			Screw mobility(Pa&bull;s)<input id='Slip_z' name='Slip_z' value='<%=Slip_z%>' type='text' style="width:70px;margin:4px" readonly="readonly"/>
			Magnitude Burger<input id='magBurger' name='magBurger' value='<%=magBurger%>' type='text' style="width:70px;margin:4px" readonly="readonly"/>
		</div>
	</div>
</script>

<script type="text/template" id="slip2">
	<div class='col-lg-12'>
		<label >Mode index:<%=mode%> ,  Slip mode: <%=Slip_Name%></label>
		<p class='col-lg-2'><%=Slip_x%></p>
		<p class='col-lg-2'><%=Slip_y%></p>
		<p class='col-lg-2'><%=Slip_z%></p>
		<p class='col-lg-2'><%=magBurger%></p>
	</div>
</script>

<script type="text/template" id="slip3">
	<div class="slip-content">
		<div class="row col-lg-12">
			<div class="col-lg-2">
				<label>Mode index</label>
				<select id='mode'  name='mode' value='<%=mode%>'>
					
				</select>
			</div>
			<div class="col-lg-3">
				<label>Slip mode</label>
				<input id='Slip_Name' name='Slip_Name'  type='text' value='<%=Slip_Name%>'>
			</div>
		</div>
		<div class="row col-lg-12">
			<div class="col-lg-3">
				<label>Friction stress(MPa)</label>
				<input id='Slip_x' name='Slip_x'  type='text' value='<%=Slip_x%>'>
			</div>
			<div class="col-lg-3">
				<label>Edge mobility(Pa&bull;s)</label>
				<input id='Slip_y' name='Slip_y'  type='text' value='<%=Slip_y%>'>
			</div>
			<div class="col-lg-3">
				<label>Screw mobility(Pa&bull;s)</label>
				<input id='Slip_z' name='Slip_z'  type='text' value='<%=Slip_z%>'>
			</div>
			<div class="col-lg-3">
				<label>Magnitude Burger</label>
				<input id='magBurger' name='magBurger'  type='magBurger' value='<%=magBurger%>'>
			</div>
		</div>
	</div>
</script>


<script type="text/template" id="defect">
	<li style="display: block; margin-bottom:5px;padding:15px;border:1px solid #C7C7C7">
		<div class='row defect-item'>
			<div class="col-lg-2">
				<a class="btn btn-primary" href="#Defect<%=DefectID%>" data-toggle="collapse">Dislocation <%=DefectID%></a>
			</div>
		</div>
		<!--defect item-->
		<div id="Defect<%=DefectID%>" class="collapse defect-content">
			<div class='row'>
				<div class="col-lg-3">
					<label for='LayerPos'>Layer Position</label>
					<select id='LayerPos'  name='LayerPos' value='<%=LayerPos%>'>
						<option value='1'>1</option>
					</select>
				</div>
				<div class="col-lg-3">
					<label for='Slip_System'>Slip System</label>
					<select id='System_Name' name='System_Name' type='text' value='<%=System_Name%>'>
					</select>
				</div>
				<div class="col-lg-3">
					<label for='Form_Type'>Form Type</label>
					<select id='Form_Type' name='Form_Type' type='text' value='<%=Form_Type%>'>
						<option value=''></option>
						<option value='1'>Open</option>
						<option value='0'>Close</option>
					</select>
				</div>
			</div>
			<div class='row'>
				<div class='col-lg-6'>
					<label>Dislocation position</label>
					<input id='CenterPos_01' name='CenterPos_01' value='<%=CenterPos_01%>' type='text' style="width:100px;margin:4px"/>
					<input id='CenterPos_02' name='CenterPos_02' value='<%=CenterPos_02%>' type='text' style="width:100px;margin:4px"/>
					<input id='CenterPos_03' name='CenterPos_03' value='<%=CenterPos_03%>' type='text' style="width:100px;margin:4px"/>
				</div>
			</div>
		
			<div class='row form-content' style="display:none">
				<div class='col-lg-3'>
					<label for='LoopRad'>Loop radius</label>
					<input id='LoopRad' name='LoopRad' type='text' value='<%=LoopRad%>'/>
				</div>
				<div class='col-lg-3' style="display:none">
					<label for='CenterLoop_01'>CenterLoop_01</label>
					<input id='CenterLoop_01' name='CenterLoop_01' type='text' value='<%=CenterLoop_01%>'/>
				</div>
				<div class='col-lg-3'style="display:none">
					<label for='CenterLoop_02'>CenterLoop_02</label>
					<input id='CenterLoop_02' name='CenterLoop_02' type='text' value='<%=CenterLoop_02%>'/>
				</div>
			</div>
			<div class='row nNode-content'>
				<div class="col-lg-3">
					<label for='nNode'>Number of nodes
						<button type="button"  class="glyphicon glyphicon-plus addnode"></button>
						<button type="button"  class="glyphicon glyphicon-minus rmnode"></button>
					</label>
					<input id='nNode' name='nNode' type='text'  value='<%=nNode%>' readonly="readonly"/>	
				</div>
			</div>
			<div class="row node-contents">
			</div>
			
		</div><!--end of toggle div-->
	</li>
</script>


<script type="text/template" id="node">
	<div class="node-content">
		<div class='col-lg-12'>
			<label for='Node Coordinate'>Node <%=NodeID%> Coordinates</label>
			<input id='Coordinate_01' name='Coordinate_01' type='text' value='<%=Coordinate_01%>' style="width:100px;margin:4px"/>
			<input id='Coordinate_02' name='Coordinate_02' type='text' value='<%=Coordinate_02%>'style="width:100px;margin:4px"/>
		</div>
	</div>
</script>


<!--material template for readonly text-->
<script type="text/template" id="material">
	<div class='row'>
		<div class="col-lg-4">
			<label for='Material_Type'>Material Name</label>
			<p id='Material_Type'><%=Material_Type%></p>	
		</div>
	</div>
	<div class='row'>
			<div class="col-lg-3">
				<label for='Mu'>Mu (Pa)</label>
				<p id='Mu'><%=Mu%></p>
			</div>
			<div class="col-lg-3">
				<label for='Nu'>Nu</label>
				<p id='Nu'><%=Nu%></p>
			</div>
			<div class="col-lg-3">
				<label for='Crystal_Type'>Crystal Type</label>	
				<p id='Crystal_Type'><%=Crystal_Type%></p>
			</div>		
			<div class="col-lg-3">
				<label for='Lattice_Param'>Lattice Param(m)</label>
				<p id='Lattice_Param'><%=Lattice_Param%></p>
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-3">
				<label for='nSlip'># of slip modes</label>
				<p id='nSlip'><%=nSlip%></p>
			</div>
			<div class="col-lg-3">
				<label for='Mobilityns'>Mobilityns(Pa&bull;s)</label>
				<p id='Mobilityns'><%=Mobilityns%></p>
			</div>
			<div class="col-lg-3">
				<label for='Mobilitys'>Mobilitys (Pa&bull;s) </label>
				<p id='Mobilitys'><%=Mobilitys%></p>
			</div>
			<div class="col-lg-3">
				<label for='Anisotropy'>Anisotropy</label>
				<p id='Anisotropy'><%=Anisotropy%></p>
			</div>
		</div>
		<div class='row slip-content'>
			<div class='col-lg-12'>
		</div>
		</div>
		<div class='row'>
			<div class='col-lg-12'>
				<label >Elastic stiffness matrix (MPa)</label>
				<p id='E_01' class='col-lg-2'><%=E_01%></p>
				<p id='E_02' class='col-lg-2'><%=E_02%></p>
				<p id='E_03' class='col-lg-2'><%=E_03%></p>
				<p id='E_04' class='col-lg-2'><%=E_04%></p>
				<p id='E_05' class='col-lg-2'><%=E_05%></p>
				<p id='E_06' class='col-lg-2'><%=E_06%></p>			
			</div>
			<div class='col-lg-12'>
				<p id='E_07' class='col-lg-2'><%=E_07%></p>
				<p id='E_08' class='col-lg-2'><%=E_08%></p>
				<p id='E_09' class='col-lg-2'><%=E_09%></p>
				<p id='E_10' class='col-lg-2'><%=E_10%></p>
				<p id='E_11' class='col-lg-2'><%=E_11%></p>
				<p id='E_12' class='col-lg-2'><%=E_12%></p>			
			</div>
			<div class='col-lg-12'>
				<p id='E_13' class='col-lg-2'><%=E_13%></p>
				<p id='E_14' class='col-lg-2'><%=E_14%></p>
				<p id='E_15' class='col-lg-2'><%=E_15%></p>
				<p id='E_16' class='col-lg-2'><%=E_16%></p>
				<p id='E_17' class='col-lg-2'><%=E_17%></p>
				<p id='E_18' class='col-lg-2'><%=E_18%></p>			
			</div>
			<div class='col-lg-12'>
				<p id='E_19' class='col-lg-2'><%=E_19%></p>
				<p id='E_20' class='col-lg-2'><%=E_20%></p>
				<p id='E_21' class='col-lg-2'><%=E_21%></p>
				<p id='E_22' class='col-lg-2'><%=E_22%></p>
				<p id='E_23' class='col-lg-2'><%=E_23%></p>
				<p id='E_24' class='col-lg-2'><%=E_24%></p>				
			</div>
			<div class='col-lg-12'>
				<p id='E_25' class='col-lg-2'><%=E_25%></p>
				<p id='E_26' class='col-lg-2'><%=E_26%></p>
				<p id='E_27' class='col-lg-2'><%=E_27%></p>
				<p id='E_28' class='col-lg-2'><%=E_28%></p>
				<p id='E_29' class='col-lg-2'><%=E_29%></p>
				<p id='E_30' class='col-lg-2'><%=E_30%></p>				
			</div>		
			</div>
			<div class='col-lg-12'>
				<p id='E_31' class='col-lg-2'><%=E_31%></p>
				<p id='E_32' class='col-lg-2'><%=E_32%></p>
				<p id='E_33' class='col-lg-2'><%=E_33%></p>
				<p id='E_34' class='col-lg-2'><%=E_34%></p>
				<p id='E_35' class='col-lg-2'><%=E_35%></p>
				<p id='E_36' class='col-lg-2'><%=E_36%></p>				
			</div>		
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-12'>
				<label >Lattice Ratios</label>
				<p id='Lattice_Ratios_x' class='col-lg-2'><%=Lattice_Ratios_x%></p>
				<p id='Lattice_Ratios_y' class='col-lg-2'><%=Lattice_Ratios_y%></p>
				<p id='Lattice_Ratios_z' class='col-lg-2'><%=Lattice_Ratios_z%></p>	
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-12'>
				<label >Lattice Angles (deg)</label>
				<p id='Lattice_Angles_x' class='col-lg-2'><%=Lattice_Angles_x%></p>
				<p id='Lattice_Angles_y' class='col-lg-2'><%=Lattice_Angles_y%></p>
				<p id='Lattice_Angles_z' class='col-lg-2'><%=Lattice_Angles_z%></p>	
			</div>
		</div>
</script>

<!--material template for input-->
<script type="text/template" id="material2">
		<div class='row'>
			<input id='Mat_ID' name='Mat_ID' type='text' value='<%=Mat_ID%>' style="display: none"/>
			<div class="col-lg-4">
				<label for='Material_Type'>Material Name</label>
				<input id='Material_Type' name='Material_Type' type='text' value='<%=Material_Type%>' />	
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-3">
				<label for='Mu'>Mu (Pa)</label>
				<input id='Mu' name='Mu' type='text' value='<%=Mu%>'/>
			</div>
			<div class="col-lg-3">
				<label for='Nu'>Nu</label>
				<input id='Nu' name='Nu' type='text' value='<%=Nu%>'/>
			</div>
			<div class="col-lg-3">
				<label for='Crystal_Type'>Crystal Type</label>	
				<select id='Crystal_Type'  name='Crystal_Type' value='<%=Crystal_Type%>'>
				</select>
			</div>		
			<div class="col-lg-3">
				<label for='Lattice_Param'>Lattice Parameter (m)</label>
				<input id='Lattice_Param' name='Lattice_Param' type='text' value='<%=Lattice_Param%>' />
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-3">
				<label for='nSlip'># of slip modes
					<!--<button type="button"  id="addSlipBtn" class="glyphicon glyphicon-plus addslip" style="width:10%"></button>-->
					<!--<button type="button"  id="rmSlipBtn" class="glyphicon glyphicon-minus rmslip"  style="width:10%"></button>-->
				</label>
				<input id='nSlip' name='nSlip' type='text' value='<%=nSlip%>' />	
			</div>
			<div class="col-lg-3">
				<label for='Mobilityns'>Mobilityns(Pa&bull;s)</label>
				<input id='Mobilityns' name='Mobilityns' type='text' value='<%=Mobilityns%>'/>
			</div>
			<div class="col-lg-3">
				<label for='Mobilitys '>Mobilitys(Pa•s)(Pa&bull;s) </label>
				<input id='Mobilitys' name='Mobilitys' type='text' value='<%=Mobilitys%>'/>
			</div>
			<div class="col-lg-3">
				<label for='Anisotropy'>Anisotropy</label>
				<select id='Anisotropy' name='Anisotropy' value='<%=Anisotropy%>'>
					<option value=''></option>
					<option value='1'>Yes</option>
					<option value='0'>No</option>
				</select>
			</div>
		</div>
		<div class='row slip-contents'>
		</div>
		<div class='row'>
			<div class='col-lg-12' style="margin-bottom:2%">
				<label >Elastic stiffness matrix (MPa)</label>
				<div class='col-lg-2'><input id='E_01' name='E_01' type='text' value='<%=E_01%>' /></div>
				<div class='col-lg-2'><input id='E_02' name='E_02' type='text' value='<%=E_02%>' /></div>
				<div class='col-lg-2'><input id='E_03' name='E_03' type='text' value='<%=E_03%>' /></div>
				<div class='col-lg-2'><input id='E_04' name='E_04' type='text' value='<%=E_04%>' /></div>
				<div class='col-lg-2'><input id='E_05' name='E_05' type='text' value='<%=E_05%>' /></div>
				<div class='col-lg-2'><input id='E_06' name='E_06' type='text' value='<%=E_06%>' /></div>
			</div>
			<div class='col-lg-12' style="margin-bottom:2%">
				<div class='col-lg-2'><input id='E_07' name='E_07' type='text' value='<%=E_07%>' /></div>
				<div class='col-lg-2'><input id='E_08' name='E_08' type='text' value='<%=E_08%>' /></div>
				<div class='col-lg-2'><input id='E_09' name='E_09' type='text' value='<%=E_09%>' /></div>
				<div class='col-lg-2'><input id='E_10' name='E_10' type='text' value='<%=E_10%>' /></div>
				<div class='col-lg-2'><input id='E_11' name='E_11' type='text' value='<%=E_11%>' /></div>
				<div class='col-lg-2'><input id='E_12' name='E_12' type='text' value='<%=E_12%>' /></div>
			</div>
			<div class='col-lg-12' style="margin-bottom:2%">
				<div class='col-lg-2'><input id='E_13' name='E_13' type='text' value='<%=E_13%>' /></div>
				<div class='col-lg-2'><input id='E_14' name='E_14' type='text' value='<%=E_14%>' /></div>
				<div class='col-lg-2'><input id='E_15' name='E_15' type='text' value='<%=E_15%>' /></div>
				<div class='col-lg-2'><input id='E_16' name='E_16' type='text' value='<%=E_16%>' /></div>
				<div class='col-lg-2'><input id='E_17' name='E_17' type='text' value='<%=E_17%>' /></div>
				<div class='col-lg-2'><input id='E_18' name='E_18' type='text' value='<%=E_18%>' /></div>
			</div>
			<div class='col-lg-12' style="margin-bottom:2%">
				<div class='col-lg-2'><input id='E_19' name='E_19' type='text' value='<%=E_19%>' /></div>
				<div class='col-lg-2'><input id='E_20' name='E_20' type='text' value='<%=E_20%>' /></div>
				<div class='col-lg-2'><input id='E_21' name='E_21' type='text' value='<%=E_21%>' /></div>
				<div class='col-lg-2'><input id='E_22' name='E_22' type='text' value='<%=E_22%>' /></div>
				<div class='col-lg-2'><input id='E_23' name='E_23' type='text' value='<%=E_23%>' /></div>
				<div class='col-lg-2'><input id='E_24' name='E_24' type='text' value='<%=E_24%>' /></div>
			</div>
			<div class='col-lg-12' style="margin-bottom:2%">
				<div class='col-lg-2'><input id='E_25' name='E_25' type='text' value='<%=E_25%>' /></div>
				<div class='col-lg-2'><input id='E_26' name='E_26' type='text' value='<%=E_26%>' /></div>
				<div class='col-lg-2'><input id='E_27' name='E_27' type='text' value='<%=E_27%>' /></div>
				<div class='col-lg-2'><input id='E_28' name='E_28' type='text' value='<%=E_28%>' /></div>
				<div class='col-lg-2'><input id='E_29' name='E_29' type='text' value='<%=E_29%>' /></div>
				<div class='col-lg-2'><input id='E_30' name='E_30' type='text' value='<%=E_30%>' /></div>
			</div>
			<div class='col-lg-12' style="margin-bottom:2%">
				<div class='col-lg-2'><input id='E_31' name='E_31' type='text' value='<%=E_31%>' /></div>
				<div class='col-lg-2'><input id='E_32' name='E_32' type='text' value='<%=E_32%>' /></div>
				<div class='col-lg-2'><input id='E_33' name='E_33' type='text' value='<%=E_33%>' /></div>
				<div class='col-lg-2'><input id='E_34' name='E_34' type='text' value='<%=E_34%>' /></div>
				<div class='col-lg-2'><input id='E_35' name='E_35' type='text' value='<%=E_35%>' /></div>
				<div class='col-lg-2'><input id='E_36' name='E_36' type='text' value='<%=E_36%>' /></div>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-9'>
				<label >Lattice Ratios</label>	
				<div class='col-lg-3'><input id='Lattice_Ratios_x' name='Lattice_Ratios_x' value='<%=Lattice_Ratios_x%>' type='text' /></div>
				<div class='col-lg-3'><input id='Lattice_Ratios_y' name='Lattice_Ratios_y' value='<%=Lattice_Ratios_y%>' type='text' /></div>
				<div class='col-lg-3'><input id='Lattice_Ratios_z' name='Lattice_Ratios_z' value='<%=Lattice_Ratios_z%>' type='text' /></div>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-9'>
				<label >Lattice Angles (deg)</label>
				<div class='col-lg-3'><input id='Lattice_Angles_x' name='Lattice_Angles_x' value='<%=Lattice_Angles_x%>' type='text' /></div>
				<div class='col-lg-3'><input id='Lattice_Angles_y' name='Lattice_Angles_y' value='<%=Lattice_Angles_y%>' type='text' /></div>
				<div class='col-lg-3'><input id='Lattice_Angles_z' name='Lattice_Angles_z' value='<%=Lattice_Angles_z%>' type='text' /></div>
			</div>
		</div>
</script>

<!-- Control template for readonly text-->
<script type="text/template" id="simctrl">
	<div class='row'>
		<div class="col-lg-4">
			<label for='Control_Name'>Control Name</label>
			<p><%=Control_Name%></p>
		</div>
	</div>
	<div class='row'>
		<div class="col-lg-4 load_type">
			<label>Load</label>
			<p><%=Load%></p>
		</div>
		<div class="col-lg-4">
			<label>Relaxtion</label>
			<p><%=iRelaxtion%></p>
		</div>
		<div class="col-lg-4">
			<label>Number of Relax Steps</label>	
			<p><%=iRelaxStep%></p>
		</div>		
	</div>
	<div class='row applied_force'>
		<div class='col-lg-12'>
				<label >Applied Strain Rate(s<sup>-1</sup>)</label>
				<div class='col-lg-2'><%=AF_01%></div>
				<div class='col-lg-2'><%=AF_02%></div>
				<div class='col-lg-2'><%=AF_03%></div>		
		</div>
		<div class='col-lg-12'>
				<div class='col-lg-2'><%=AF_04%></div>
				<div class='col-lg-2'><%=AF_05%></div>
				<div class='col-lg-2'><%=AF_06%></div>		
		</div>
		<div class='col-lg-12'>
				<div class='col-lg-2'><%=AF_07%></div>
				<div class='col-lg-2'><%=AF_08%></div>
				<div class='col-lg-2'><%=AF_09%></div>		
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-12'>
				<label >Initial Applied Stress</label>
				<div class='col-lg-2'><%=IAS_01%></div>
				<div class='col-lg-2'><%=IAS_02%></div>
				<div class='col-lg-2'><%=IAS_03%></div>		
		</div>
		<div class='col-lg-12'>
				<div class='col-lg-2'><%=IAS_04%></div>
				<div class='col-lg-2'><%=IAS_05%></div>
				<div class='col-lg-2'><%=IAS_06%></div>		
		</div>
		<div class='col-lg-12'>
				<div class='col-lg-2'><%=IAS_07%></div>
				<div class='col-lg-2'><%=IAS_08%></div>
				<div class='col-lg-2'><%=IAS_09%></div>		
		</div>
</script>

<!-- Control template for input-->
<script type="text/template" id="simctrl2">
	<input id='SimCo_ID' name='SimCo_ID' type='text' value='<%=SimCo_ID%>' style="display: none"/>
	<div class='row'>
		<div class="col-lg-4">
			<label for='Control_Name'>Control Name</label>
			<input id='Control_Name' name='Control_Name' type='text' value='<%=Control_Name%>'/>
		</div>
	</div>
	<div class="row">
		<div class='col-lg-4'>
			<label for='Load'>Load type</label>
			<select id='Load' name='Load' value='<%=Load%>'>
				<option value='1'>Applied Strain Rate</option>
				<option value='2'>Applied Stress Rate</option>
			</select>
		</div>
		<div class='col-lg-3'>
			<label for='iRelaxtion'>Relaxtion</label>
			<select id='iRelaxtion'  name='iRelaxtion' value='<%=iRelaxtion%>'>
				<option value='0'>No</option>
				<option value='1'>Yes</option>
			</select>
		</div>
		<div class='col-lg-3'>
			<label for='iRelaxStep'># of Relaxtion steps</label>
			<input id='iRelaxStep' name='iRelaxStep' type='text' value='<%=iRelaxStep%>' />
		</div>
	</div>
	<div class='row applied_force'>
		<div class='col-lg-9' style="margin-bottom:2%">
			<label >Applied Strain Rate(s<sup>-1</sup>)</label>
			<div class='col-lg-3'><input id='AF_01' name='AF_01' type='text' value='<%=AF_01%>' /></div>
			<div class='col-lg-3'><input id='AF_02' name='AF_02' type='text' value='<%=AF_02%>' /></div>
			<div class='col-lg-3'><input id='AF_03' name='AF_03' type='text' value='<%=AF_03%>' /></div>
		</div>
		<div class='col-lg-9' style="margin-bottom:2%">
			<div class='col-lg-3'><input id='AF_04' name='AF_04' type='text' value='<%=AF_04%>' /></div>
			<div class='col-lg-3'><input id='AF_05' name='AF_05' type='text' value='<%=AF_05%>' /></div>
			<div class='col-lg-3'><input id='AF_06' name='AF_06' type='text' value='<%=AF_06%>' /></div>
		</div>
		<div class='col-lg-9' style="margin-bottom:2%">
			<div class='col-lg-3'><input id='AF_07' name='AF_07' type='text' value='<%=AF_07%>' /></div>
			<div class='col-lg-3'><input id='AF_08' name='AF_08' type='text' value='<%=AF_08%>' /></div>
			<div class='col-lg-3'><input id='AF_09' name='AF_09' type='text' value='<%=AF_09%>' /></div>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-9' style="margin-bottom:2%">
			<label >Initial Applied Stress (MPa)</label>
			<div class='col-lg-3'><input id='IAS_01' name='IAS_01' type='text' value='<%=IAS_01%>' /></div>
			<div class='col-lg-3'><input id='IAS_02' name='IAS_02' type='text' value='<%=IAS_02%>' /></div>
			<div class='col-lg-3'><input id='IAS_03' name='IAS_03' type='text' value='<%=IAS_03%>' /></div>
		</div>
		<div class='col-lg-9' style="margin-bottom:2%">
			<div class='col-lg-3'><input id='IAS_04' name='IAS_04' type='text' value='<%=IAS_04%>' /></div>
			<div class='col-lg-3'><input id='IAS_05' name='IAS_05' type='text' value='<%=IAS_05%>' /></div>
			<div class='col-lg-3'><input id='IAS_06' name='IAS_06' type='text' value='<%=IAS_06%>' /></div>
		</div>
		<div class='col-lg-9' style="margin-bottom:2%">
			<div class='col-lg-3'><input id='IAS_07' name='IAS_07' type='text' value='<%=IAS_07%>' /></div>
			<div class='col-lg-3'><input id='IAS_08' name='IAS_08' type='text' value='<%=IAS_08%>' /></div>
			<div class='col-lg-3'><input id='IAS_09' name='IAS_09' type='text' value='<%=IAS_09%>' /></div>
		</div>
	</div>
	
</script>


<script type="text/template" id="layer2">
	<hr>
	<p style="color:rgb(66, 139, 202)"><b><%=Layer_Name%></b></p>
	<div class='row'>
		<div class="col-lg-3">
			<label >Material Type</label>
			<p><%=Material_Type%></p>
		</div>
		<div class="col-lg-3">
			<label>Thickness</label>
			<p><%=Thickness%></p>
		</div>
		<div class="col-lg-6">
			<label>Euler Angles</label>	
			<div class='col-lg-2'><%=Euler_Angles_x%></div>
			<div class='col-lg-2'><%=Euler_Angles_y%></div>
			<div class='col-lg-2'><%=Euler_Angles_z%></div>	
		</div>		
	
	</div>
	<div class='row'>
		<div class="col-lg-3">
			<label for='Mu'>Mu(Pa)</label>
			<p><%=Mu%></p>
		</div>
		<div class="col-lg-3">
			<label for='Nu'>Nu</label>
			<p><%=Nu%></p>
		</div>
		<div class="col-lg-3">
			<label for='Crystal_Type'>Crystal Type</label>	
			<p><%=Crystal_Type%></p>
		</div>		
		<div class="col-lg-3">
			<label for='Lattice_Param'>Lattice Param(m)</label>
			<p><%=Lattice_Param%></p>
		</div>
	</div>
	<div class='row'>
		<div class="col-lg-3">
			<label for='nSlip'>nSlip</label>
			<p><%=nSlip%></p>
		</div>
		<div class="col-lg-3">
			<label for='Mobilityns'>Mobilityns(Pa&bull;s)</label>
			<p><%=Mobilityns%></p>
		</div>
		<div class="col-lg-3">
			<label for='Mobilitys'>Mobilitys(Pa&bull;s) </label>
			<p><%=Mobilitys%></p>
		</div>
		<div class="col-lg-3">
			<label for='Anisotropy'>Anisotropy</label>
			<p><%=Anisotropy%></p>
		</div>
	</div>
	<div class='row slip-content'>
		<div class='col-lg-12'>
		</div>
	</div>
	<div class='row'>
			<div class='col-lg-12'>
				<label >Elastic stiffness matrix(MPa)</label>
				<div class='col-lg-2'><%=E_01%></div>
				<div class='col-lg-2'><%=E_02%></div>
				<div class='col-lg-2'><%=E_03%></div>
				<div class='col-lg-2'><%=E_04%></div>
				<div class='col-lg-2'><%=E_05%></div>
				<div class='col-lg-2'><%=E_06%></div>			
			</div>
			<div class='col-lg-12'>
				<div class='col-lg-2'><%=E_07%></div>
				<div class='col-lg-2'><%=E_08%></div>
				<div class='col-lg-2'><%=E_09%></div>
				<div class='col-lg-2'><%=E_10%></div>
				<div class='col-lg-2'><%=E_11%></div>
				<div class='col-lg-2'><%=E_12%></div>			
			</div>
			<div class='col-lg-12'>
				<div class='col-lg-2'><%=E_13%></div>
				<div class='col-lg-2'><%=E_14%></div>
				<div class='col-lg-2'><%=E_15%></div>
				<div class='col-lg-2'><%=E_16%></div>
				<div class='col-lg-2'><%=E_17%></div>
				<div class='col-lg-2'><%=E_18%></div>			
			</div>
			<div class='col-lg-12'>
				<div class='col-lg-2'><%=E_19%></div>
				<div class='col-lg-2'><%=E_20%></div>
				<div class='col-lg-2'><%=E_21%></div>
				<div class='col-lg-2'><%=E_22%></div>
				<div class='col-lg-2'><%=E_23%></div>
				<div class='col-lg-2'><%=E_24%></div>			
			</div>
			<div class='col-lg-12'>
				<div class='col-lg-2'><%=E_25%></div>
				<div class='col-lg-2'><%=E_26%></div>
				<div class='col-lg-2'><%=E_27%></div>
				<div class='col-lg-2'><%=E_28%></div>
				<div class='col-lg-2'><%=E_29%></div>
				<div class='col-lg-2'><%=E_30%></div>			
			</div>
			<div class='col-lg-12'>
				<div class='col-lg-2'><%=E_31%></div>
				<div class='col-lg-2'><%=E_32%></div>
				<div class='col-lg-2'><%=E_33%></div>
				<div class='col-lg-2'><%=E_34%></div>
				<div class='col-lg-2'><%=E_35%></div>
				<div class='col-lg-2'><%=E_36%></div>			
			</div>
	</div>
	<div class='row'>
			<div class='col-lg-12'>
				<label >Lattice Ratios</label>
				<div class='col-lg-2'><%=Lattice_Ratios_x%></div>
				<div class='col-lg-2'><%=Lattice_Ratios_y%></div>
				<div class='col-lg-2'><%=Lattice_Ratios_z%></div>	
			</div>
	</div>
	<div class='row'>
			<div class='col-lg-12'>
				<label >Lattice Angles(deg)</label>
				<div class='col-lg-2'><%=Lattice_Angles_x%></div>
				<div class='col-lg-2'><%=Lattice_Angles_y%></div>
				<div class='col-lg-2'><%=Lattice_Angles_z%></div>	
			</div>
	</div>
	
</script>

<script type="text/template" id="defect2">
	<hr>
	<p style="color:rgb(66, 139, 202)"><b><%=Defect_Name%></b></p>
	<div class="row">
		<div class='col-lg-4'>
			<label >LayerPosition</label>
			<p><%=LayerPos%></p>
		</div>
		<div class='col-lg-4'>
			<label >Slip System</label>
			<p><%=System_Name%></p>
		</div>
		<div class='col-lg-4'>
			<label >Form Type</label>
			<p><%=Form_Type%></p>
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-12'>
			<label >CenterPos</label>
			<div class='col-lg-4'><%=CenterPos_01%></div>
			<div class='col-lg-4'><%=CenterPos_02%></div>
			<div class='col-lg-4'><%=CenterPos_03%></div>	
		</div>
	</div>
	<div class="row">
		<div class='col-lg-4'>
			<label >LoopRad</label>
			<p><%=LoopRad%></p>
		</div>
		<div class='col-lg-4'>
			<label >CenterLoop_01</label>
			<p><%=CenterLoop_01%></p>
		</div>
		<div class='col-lg-4'>
			<label >CenterLoop_02</label>
			<p><%=CenterLoop_02%></p>
		</div>
	</div>	
	<div class="row node-content">
	</div>		
</script>

<script type="text/template" id="node2">
		<div class='col-lg-4'>
			<label >Coordinate_01</label>
			<p><%=Coordinate_01%></p>
		</div>
		<div class='col-lg-4'>
			<label >Coordinate_02</label>
			<p><%=Coordinate_02%></p>
		</div>
	</div>
</script>

<script type="text/template" id="slipsys">
		<tr>
			<td id="Slsys_ID" style="display:none"><%=Slsys_ID%></td>
			<td id="Structure" style="display:none"><%=Structure%></td>
			<td id="System_Name"><%=System_Name%></td>
			<td id="mode"><%=mode%></td>
			<td id="nInd" style="display:none"><%=nInd%></td>
			<td id="M_01"><%=M_01%></td>
			<td id="M_02"><%=M_02%></td>
			<td id="M_03"><%=M_03%></td>
			<td class="M_04" id="M_04"><%=M_04%></td>
			<td id="B_01"><%=B_01%></td>
			<td id="B_02"><%=B_02%></td>
			<td id="B_03"><%=B_03%></td>
			<td class="B_04" id="B_04"><%=B_04%></td>
			<td class="slipsys-actions">
				<button type="button" class="btn btn-primary modifySlipSys">Modify</button>
				<button type="button" class="btn btn-primary saveSlipSys" style="display:none">Save</button>
				<button type="button" class="btn btn-danger deleteSlipSys">Delete</button>
			</td>
		</tr>
</script>

<script type="text/template" id="loadsteps">
	<div class="tab-pane active" id="step0">
		<div class="row">
			<div class='col-lg-3'>
				<label >Volume Size x</label>
				<p><%=Volume_Size_x%></p>
			</div>
			<div class='col-lg-3'>
				<label >Volume Size x</label>
				<p><%=Volume_Size_y%></p>
			</div>
			<div class='col-lg-3'>
				<label >iInterface</label>
				<p><%=iInterface%></p>
			</div>
			
		</div>
		<div class="row">
			<div class='col-lg-3'>
				<label># of layers</label>
				<p><%=Num_Layer%></p>
			</div>
		</div>
	</div>
	
	<div class="tab-pane" id="step1">
		<div class="row">
			<div class='col-lg-6'>
				<label># of dislocations</label>
				<p><%=Num_Defect%></p>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="step2">
		<div class="row">
			<div class='col-lg-3'>
				<label >Control Name</label>
				<p><%=Control_Name%></p>
			</div>
			<div class='col-lg-3'>
				<label ># of steps</label>
				<p><%=ILoop_Time%></p>
			</div>
			<div class='col-lg-3'>
				<label >Time step max(s)</label>
				<p><%=DTIME_MAX%></p>
			</div>
			<div class='col-lg-3'>
				<label >Time step min(s)</label>
				<p><%=DTIME_MIN%></p>
			</div>
		</div>
		<div class='row'>
			<div class="col-lg-3 load_type">
				<label>Load</label>
				<p><%=Load%></p>
			</div>
			<div class="col-lg-3">
				<label>Relaxtion</label>
				<p><%=iRelaxtion%></p>
			</div>
			<div class="col-lg-3">
				<label># of Relax Steps</label>	
				<p><%=iRelaxStep%></p>
			</div>		
		</div>
		<div class='row applied_force'>
			<div class='col-lg-12'>
					<label >Applied Strain Rate(s<sup>-1</sup>)</label>
					<div class='col-lg-2'><%=AF_01%></div>
					<div class='col-lg-2'><%=AF_02%></div>
					<div class='col-lg-2'><%=AF_03%></div>		
			</div>
			<div class='col-lg-12'>
					<div class='col-lg-2'><%=AF_04%></div>
					<div class='col-lg-2'><%=AF_05%></div>
					<div class='col-lg-2'><%=AF_06%></div>		
			</div>
			<div class='col-lg-12'>
					<div class='col-lg-2'><%=AF_07%></div>
					<div class='col-lg-2'><%=AF_08%></div>
					<div class='col-lg-2'><%=AF_09%></div>		
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-12'>
					<label >Initial Applied Stress</label>
					<div class='col-lg-2'><%=IAS_01%></div>
					<div class='col-lg-2'><%=IAS_02%></div>
					<div class='col-lg-2'><%=IAS_03%></div>		
			</div>
			<div class='col-lg-12'>
					<div class='col-lg-2'><%=IAS_04%></div>
					<div class='col-lg-2'><%=IAS_05%></div>
					<div class='col-lg-2'><%=IAS_06%></div>		
			</div>
			<div class='col-lg-12'>
					<div class='col-lg-2'><%=IAS_07%></div>
					<div class='col-lg-2'><%=IAS_08%></div>
					<div class='col-lg-2'><%=IAS_09%></div>		
			</div>
		</div>
	</div>
	<div class="tab-pane" id="step3">
		<div class='row'>
			<div class="col-lg-3">
				<label>MAX_QUAD</label>
				<p><%=MAX_QUAD%></p>
			</div>
			<div class="col-lg-3">
				<label>NPOINT_I</label>
				<p><%=NPOINT_I%></p>
			</div>
			<div class="col-lg-3">
				<label>MAX_node</label>	
				<p><%=MAX_node%></p>
			</div>	
			<div class="col-lg-3">
				<label>MAX_Neighbor</label>
				<p><%=MAX_Neighbor%></p>
			</div>	
		</div>
		<div class='row'>
			<div class="col-lg-3">
				<label>NPOINT_I</label>
				<p><%=NPOINT_I%></p>
			</div>
			<div class="col-lg-3">
				<label>reebox</label>	
				<p><%=reebox%></p>
			</div>	
			<div class="col-lg-3">
				<label>dcrit</label>	
				<p><%=dcrit%></p>
			</div>	
			<div class="col-lg-3">
				<label>iArr</label>
				<p><%=iArr%></p>
			</div>	
		</div>
		<div class='row'>
			<div class="col-lg-3">
				<label>iFEM</label>
				<p><%=iFEM%></p>
			</div>	
		</div>
		<div class="row">
			<div class='col-lg-12'>
				<label >nbox</label>
				<div class='col-lg-2'><%=nbox_x%></div>
				<div class='col-lg-2'><%=nbox_y%></div>
				<div class='col-lg-2'><%=nbox_z%></div>
			</div>
		</div>
		<div class="row">
			<div class='col-lg-12'>
				<label >nElmtFe</label>
				<div class='col-lg-2'><%=nElmtFe_x%></div>
				<div class='col-lg-2'><%=nElmtFe_y%></div>
				<div class='col-lg-2'><%=nElmtFe_z%></div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="step4">
		<div class="row">
			<div class="col-lg-3">
				<label>CheckNeiBur</label>
				<p><%=CheckNeiBur%></p>
			</div>
			<div class="col-lg-3">
				<label>LogInteraction</label>
				<p><%=LogInteraction%></p>
			</div>
			<div class="col-lg-3">
				<label>iCrossSlip</label>
				<p><%=iCrossSlip%></p>
			</div>
			<div class="col-lg-3">
				<label>FullyPeriodic</label>
				<p><%=FullyPeriodic%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<label>iInertial</label>
				<p><%=iInertial%></p>
			</div>
			<div class="col-lg-3">
				<label>ioutFe</label>
				<p><%=ioutFe%></p>
			</div>
			<div class="col-lg-3">
				<label>nBoxFe</label>
				<p><%=nBoxFe%></p>
			</div>
			<div class="col-lg-3 ">
				<label>iSplineFe</label>
				<p><%=iSplineFe%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<label>iXRD</label>
				<p><%=iXRD%></p>
			</div>
			<div class="col-lg-3 ">
				<label>iOutFreq</label>
				<p><%=iOutFreq%></p>
			</div>
			<div class="col-lg-3 ">
				<label>iPastFreq</label>
				<p><%=iPastFreq%></p>
			</div>
			<div class="col-lg-3">
				<label>iDebugMode</label>
				<p><%=iDebugMode%></p>
			</div>
		</div>
		<div class="row">
			<div class='col-lg-12'>
				<label >DispNodes</label>
				<div class='col-lg-2'><%=DispNodes_x%></div>
				<div class='col-lg-2'><%=DispNodes_y%></div>
				<div class='col-lg-2'><%=DispNodes_z%></div>
			</div>
		</div>

	</div>
</script>

	