<script type="text/template" id="home">
	
	<div class='col-lg-12 text-center' style="margin-bottom:1.2%">
		<button type="button" class="btn btn-primary" style="min-width:20%;padding:1.2% 1%;font-size:20px">Setup</button>
	</div>
	<div class='col-lg-12 text-center' style="margin-bottom:1.2%">
			<button id="materialMgrBtn" href="#materialDialog" class="btn btn-primary btn-home" style="min-width:20%;padding:1.2% 1%;font-size:20px">Material</button>
	</div>
	<div class='col-lg-12 text-center' style="margin-bottom:1.2%">
		<button id="controlMgrBtn" href="#controlDialog"  class="btn btn-primary btn-home" style="min-width:20%;padding:1.2% 1%;font-size:20px">Simulation Control</button>
	</div>
	<div class='col-lg-12 text-center' style="margin-bottom:1.2%">
		<button id="simBtn" type="button" class="btn btn-primary" style="min-width:20%;padding:1.2% 1%;font-size:20px">Simulation</button>
	</div>
	<div class='col-lg-12 text-center' style="margin-bottom:1.2%">
		<button data-toggle="modal" href="#resetDBDialog"  class="btn btn-primary" style="min-width:20%;padding:1.2% 1%;font-size:20px">Reset Database</button>
	</div>
	
	<!-- Modal for resetting the database -->
	<div class="modal fade" id="resetDBDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >Do you want to reset database?</h4>
				</div>
				<div class="modal-body">
					<h4>All the created simulations and reports will be removed</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="okResetDBBtn" class="btn btn-primary">
						Rest Database
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->  
	
	<!-- Modal for material manager -->
	<div class="modal fade" id="materialDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog" style="width:77%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="row">
						<div class="col-lg-4">
							<h4 class="modal-title" >Material Manager</h4>
						</div>
						<div class="col-lg-6">
							<button type="button" class="btn btn-primary matMgrMode1" disabled >Existing Material </button>
							<button type="button" class="btn btn-default matMgrMode2">New Material</button>
						</div>
					</div>			
				</div><!--end of modal header-->
				<div class="modal-body" id="matBody1">
					<div class="row">
						<div class="col-lg-4 list-group list-material">
						</div>
						<div class="col-lg-8 material-preview">	
						</div>
					</div>
				</div>
				<div class="modal-body" id="matBody2" style="display:none">	
						<div class='row'>
							<div><input type="text" name="Material_UserDefined" value="1" readonly="readonly" style="display: none"/></div>
							<div class="col-lg-4">
								<label for='Material_Type'>Material Name</label>
					        	<input id='Material_Type' name='Material_Type' type='text' />	
							</div>
						</div>			
						<div class='row'>
							<div class="col-lg-3">
								<label for='Mu'>Mu (Pa)</label>
					            <input id='Mu' name='Mu' type='text' />	
							</div>
							<div class="col-lg-3">
								<label for='Nu'>Nu</label>
					            <input id='Nu' name='Nu' type='text' />	
							</div>
							<div class="col-lg-3">
							<label for='Crystal_Type'>Crystal Type</label>
								<select id='Crystal_Type' name='Crystal_Type'>
									<option value='0'>Default</option>
									<option value='1'>FCC</option>
									<option value='2'>BCC</option>
									<option value='3'>HCP</option>
									<option value='4'>HCP1</option>
									<option value='5'>HCP2</option>
								</select>
							</div>
							<div class="col-lg-3">
								<label for='Lattice_Param'>Lattice Param (m)</label>
					            <input id='Lattice_Param' name='Lattice_Param' type='text' />	
							</div>
						</div>
						<div class='row'>
							<div class="col-lg-3">
								<label for='nSlip'># of slip modes
								<button type="button"  id="addSlipBtn" class="glyphicon glyphicon-plus addslip"></button>
								<button type="button"  id="rmSlipBtn" class="glyphicon glyphicon-minus rmslip"></button>
								</label>	
					            <input id='nSlip' name='nSlip' value='1' type='text' readonly="readonly"/>
					            
							</div>
							<div class="col-lg-3">
								<label for='Mobilityns'>Mobilityns (Pa&bull;s)</label>
					            <input id='Mobilityns' name='Mobilityns' type='text' />	
							</div>
							<div class="col-lg-3">
								<label for='Mobilitys '>Mobilitys (Pa&bull;s)</label>
					            <input id='Mobilitys' name='Mobilitys' type='text' />
							</div>
							<div class="col-lg-3">
								<label for='Anisotropy'>Anisotropy</label>
					        	<select id='Anisotropy' name='Anisotropy'>
								 	<option value=''></option>
								    <option value='1'>Yes</option>
								    <option value='0'>No</option>
								</select>
							</div>
						</div>
						<div class='row slip-contents'>
							<div class='row slip-content'>
								<div class="col-lg-3">
									<label>Slip mode</label>	
						            <input id='Slip_Name' name='Slip_Name'  type='text'>        
								</div>
								<div class="col-lg-9">
									<label>Friction stress(MPa)/ Edge mobility(Pa&bull;s)/ Screw mobility(Pa&bull;s)</label>	
									<input id='Slip_x' name='Slip_x' type='text' style="width:100px;margin:0px 4px"/>
									<input id='Slip_y' name='Slip_y' type='text' style="width:100px;margin:0px 4px"/>
									<input id='Slip_z' name='Slip_z' type='text' style="width:100px;margin:0px 4px"/>
								</div>
							</div>
						</div>
				
						<div class='col-lg-12'>
							<div class='row'>
								<label >Elastic stiffness matrix (MPa)</label>	
								<input id='E_01' name='E_01' type='text' style="width:100px;margin:4px"/>
								<input id='E_02' name='E_02' type='text' style="width:100px;margin:4px"/>
								<input id='E_03' name='E_03' type='text' style="width:100px;margin:4px"/>
								<input id='E_04' name='E_04' type='text' style="width:100px;margin:4px"/>
								<input id='E_05' name='E_05' type='text' style="width:100px;margin:4px"/>
								<input id='E_06' name='E_06' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>
								<input id='E_07' name='E_07' type='text' style="width:100px;margin:4px"/>
								<input id='E_08' name='E_08' type='text' style="width:100px;margin:4px"/>
								<input id='E_09' name='E_09' type='text' style="width:100px;margin:4px"/>
								<input id='E_10' name='E_10' type='text' style="width:100px;margin:4px"/>
								<input id='E_11' name='E_11' type='text' style="width:100px;margin:4px"/>
								<input id='E_12' name='E_12' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>
								<input id='E_13' name='E_13' type='text' style="width:100px;margin:4px"/>
								<input id='E_14' name='E_14' type='text' style="width:100px;margin:4px"/>
								<input id='E_15' name='E_15' type='text' style="width:100px;margin:4px"/>
								<input id='E_16' name='E_16' type='text' style="width:100px;margin:4px"/>
								<input id='E_17' name='E_17' type='text' style="width:100px;margin:4px"/>
								<input id='E_18' name='E_18' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>	
								<input id='E_19' name='E_19' type='text' style="width:100px;margin:4px"/>
								<input id='E_20' name='E_20' type='text' style="width:100px;margin:4px"/>
								<input id='E_21' name='E_21' type='text' style="width:100px;margin:4px"/>
								<input id='E_22' name='E_22' type='text' style="width:100px;margin:4px"/>
								<input id='E_23' name='E_23' type='text' style="width:100px;margin:4px"/>
								<input id='E_24' name='E_24' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>	
								<input id='E_25' name='E_25' type='text' style="width:100px;margin:4px"/>
								<input id='E_26' name='E_26' type='text' style="width:100px;margin:4px"/>
								<input id='E_27' name='E_27' type='text' style="width:100px;margin:4px"/>
								<input id='E_28' name='E_28' type='text' style="width:100px;margin:4px"/>
								<input id='E_29' name='E_29' type='text' style="width:100px;margin:4px"/>
								<input id='E_30' name='E_30' type='text' style="width:100px;margin:4px"/>
							</div>
							<div class='row'>	
								<input id='E_31' name='E_31' type='text' style="width:100px;margin:4px"/>
								<input id='E_32' name='E_32' type='text' style="width:100px;margin:4px"/>
								<input id='E_33' name='E_33' type='text' style="width:100px;margin:4px"/>
								<input id='E_34' name='E_34' type='text' style="width:100px;margin:4px"/>
								<input id='E_35' name='E_35' type='text' style="width:100px;margin:4px"/>
								<input id='E_36' name='E_36' type='text' style="width:100px;margin:4px"/>
							</div>
						</div>
						<div class='col-lg-12'>
							<div class='row'>
								<label >LatticeRatios</label>	
								<input id='Lattice_Ratios_x' name='Lattice_Ratios_x' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Ratios_y' name='Lattice_Ratios_y' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Ratios_z' name='Lattice_Ratios_z' type='text' style="width:100px;margin:4px"/>
							</div>
						</div>
						<div class='col-lg-12'>
							<div class='row'>
								<label >Lattice Angles (deg)</label>	
								<input id='Lattice_Angles_x' name='Lattice_Angles_x' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Angles_y' name='Lattice_Angles_y' type='text' style="width:100px;margin:4px"/>
								<input id='Lattice_Angles_z' name='Lattice_Angles_z' type='text' style="width:100px;margin:4px"/>
							</div>
						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>	
					<button type="button" id="modifyMaterialBtn" class="btn btn-primary btn-home">
						Modify
					</button>
					<button type="button" id="saveMaterialBtn" class="btn btn-primary btn-home" style="display:none">
						Save
					</button>
					<button type="button" id="deleteMaterialBtn" class="btn btn-danger btn-home">
						Delete
					</button>
					<button type="button" id="okMaterialBtn" class="btn btn-primary btn-home" style="display:none">
						Create New Material
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->

<!-- Modal for control manager -->
	<div class="modal fade" id="controlDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
		<div class="modal-dialog" style="width:77%">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="row">
						<div class="col-lg-4">
							<h4 class="modal-title" >Simulation Control Manager</h4>
						</div>
						<div class="col-lg-6">
							<button type="button" class="btn btn-primary ctrlMgrMode1" disabled>Existing Control </button>
							<button type="button" class="btn btn-default ctrlMgrMode2">New Control</button>
						</div>
					</div>			
				</div><!--end of modal header-->
				<div class="modal-body" id="ctrlBody1">
					<div class="row">
						<div class="col-lg-4 list-group list-control">
						</div>
						<div class="col-lg-8 control-preview">	
						</div>
					</div>
				</div>
				<div class="modal-body" id="ctrlBody2" style="display:none">
					<div class='row'>
						<div><input type="text" name="Control_UserDefined" value="0" readonly="readonly" style="display: none"/></div>
						<div class="col-lg-4">
							<label for='Control_Name'>Control Name</label>
					   	 	<input id='Control_Name' name='Control_Name' type='text' />		
					   	 </div>
					</div>	
					<div class="row">
						<div class='col-lg-3'>
							<label for='Load'>Load</label>
							<select id='Load' name='Load' >
								<option value='1'>Applied Strain Rate</option>
								<option value='2'>Applied Stress Rate</option>
							</select>
						</div>
						<div class='col-lg-3'>
							<label for='iRelaxtion'>Relaxtion</label>
							<select id='iRelaxtion' name='iRelaxtion' >
								<option value=''></option>
								<option value='0'>No</option>
								<option value='1'>Yes</option>
							</select>
						</div>
						<div class='col-lg-3'>
							<label for='iRelaxStep'>Number of Relaxtion Steps</label>
							<input id='iRelaxStep' name='iRelaxStep' type='text'/>
						</div>
					</div>
					<div class='row applied_force'>
						<div class='col-lg-12'>
							<label >Applied Strain Rate(s<sup>-1</sup>)</label>
							<input id='AF_01' name='AF_01' type='text' style="width:100px;margin:4px" />
							<input id='AF_02' name='AF_02' type='text' style="width:100px;margin:4px" />
							<input id='AF_03' name='AF_03' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='AF_04' name='AF_04' type='text' style="width:100px;margin:4px" />
							<input id='AF_05' name='AF_05' type='text' style="width:100px;margin:4px" />
							<input id='AF_06' name='AF_06' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='AF_07' name='AF_07' type='text' style="width:100px;margin:4px" />
							<input id='AF_08' name='AF_08' type='text' style="width:100px;margin:4px" />
							<input id='AF_09' name='AF_09' type='text' style="width:100px;margin:4px" />	
						</div>
					</div>
					<div class='row'>
						<div class='col-lg-12'>
							<label >Initial_Applied_Stress</label>
							<input id='IAS_01' name='IAS_01' type='text' style="width:100px;margin:4px" />
							<input id='IAS_02' name='IAS_02' type='text' style="width:100px;margin:4px" />
							<input id='IAS_03' name='IAS_03' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='IAS_04' name='IAS_04' type='text' style="width:100px;margin:4px" />
							<input id='IAS_05' name='IAS_05' type='text' style="width:100px;margin:4px" />
							<input id='IAS_06' name='IAS_06' type='text' style="width:100px;margin:4px" />	
						</div>
						<div class='col-lg-12'>
							<input id='IAS_07' name='IAS_07' type='text' style="width:100px;margin:4px" />
							<input id='IAS_08' name='IAS_08' type='text' style="width:100px;margin:4px" />
							<input id='IAS_09' name='IAS_09' type='text' style="width:100px;margin:4px" />	
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="modifyControlBtn" class="btn btn-primary btn-home">
						Modify
					</button>
					<button type="button" id="saveControlBtn" class="btn btn-primary btn-home" style="display:none">
						Save
					</button>
					<button type="button" id="deleteControlBtn" class="btn btn-danger btn-home">
						Delete
					</button>
					<button type="button" id="okControlBtn" class="btn btn-primary btn-home" style="display:none" >
						Create New Control
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->     
</script>
	