<script type="text/template" id="report">
	<div class='row'>
			
			<div class='col-lg-4 text-center'>
				<div class="panel panel-primary">
					<div class="panel-heading">Output files</div>
					<div class="panel-body">
						<div class='row'>
							<div class ='col-lg-6 text-center'>ddd-results.dat</div>
							<div class ='col-lg-6 text-center' ><a id="dddresults-download">Download</a></div>
						</div>
						<div class='row'>
							<div class ='col-lg-6 text-center'>InternalStrains.dat</div>
							<div class ='col-lg-6 text-center' ><a id="strain-download">Download</a></div>
						</div>
						<div class='row'>
							<div class ='col-lg-6 text-center'>InternalStresses.dat</div>
							<div class ='col-lg-6 text-center' ><a id="stress-download">Download</a></div>
						</div>
						<div class='row'>
							<div class ='col-lg-6 text-center'>internalFields.zip</div>
							<div class ='col-lg-6 text-center' ><a id="internalfields-download">Download</a></div>
						</div>
						<div class='row'>
							<div class ='col-lg-6 text-center'>segs.zip</div>
							<div class ='col-lg-6 text-center' ><a id="segs-download">Download</a></div>
						</div>
						<div class='row'>
							<div class ='col-lg-6 text-center'>material_input.txt</div>
							<div class ='col-lg-6 text-center' ><a id="material-download">Download</a></div>
						</div>
						<div class='row'>
							<div class ='col-lg-6 text-center'>interaction_geom_input.txt</div>
							<div class ='col-lg-6 text-center' ><a id="interaction-download">Download</a></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class='row'>
			<div class='col-lg-6 text-center'>
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>Stress(MPa)</div>
					<div class="panel-body">
						<div id="placeholder0" class="chart-placeholder"></div>				
					</div>
				</div>
			</div>
			<div class='col-lg-6 text-center'>
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>Plastic Strain(%)</div>
					<div class="panel-body">
						<div id="placeholder1" class="chart-placeholder"></div>
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-lg-6 text-center'>
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>Dislocation Densities(m<sup>-2</sup>)</div>
					<div class="panel-body">
						<div id="placeholder2" class="chart-placeholder"></div>
					</div>
				</div>
			</div>
			<div class='col-lg-6 text-center'>
				<div class="panel panel-primary">
					<div class="panel-heading"><span class="glyphicon glyphicon-stats"></span>Plastic Strain Increment(%)</div>
					<div class="panel-body">
						<div id="placeholder3" class="chart-placeholder"></div>
					</div>
				</div>
			</div>
		</div>
</script>