<script type="text/template" id="simulation">
	<div id="menu-function">
		<div class ="row">
			<button id="refreshBtn" type="button" class="btn btn-primary pull-right" style="margin-left: 2%" >
					<span class=""></span> Refresh
			</button>
			
			<div class="btn-group btn-simulation pull-right">
				<button data-toggle="modal" href="#newSimDialog" class="btn btn-primary">
					<span class="glyphicon glyphicon-ok"></span> New
				</button>
				<button id="editSimBtn" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-edit"></span> Edit
				</button>
				<button id="delSimBtn" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-remove"></span> Delete
				</button>
			</div>
			
			<div class="btn-group btn-report pull-right" style="display:none">
				<button id="openReportBtn" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-folder-open"></span> Open
				</button>
				<button id="delReportBtn" type="button" class="btn btn-primary">
					<span class="glyphicon glyphicon-remove"></span> Delete
				</button>
			</div>
		</div>
	</div> <!--end of menu-function-->
	 
        	
    <div id="menu-tab">
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#simulations-board" data-toggle="tab">Simulations</a></li>
			<li><a href="#reports-board" data-toggle="tab">Reports</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="simulations-board">
				<table id='simulations-table' cellpadding='0' cellspacing='0' border='0 class='table table-striped'>
				<thead><tr><th>Simulation Name</th><th>Status</th><th>Directory</th><th>Last Modified</th><th>Created</th></tr></thead>
				</table>
			</div>
			<div class="tab-pane" id="reports-board">
				<table id='reports-table' cellpadding='0' cellspacing='0' border='0 class='table table-striped'>
				<thead><tr><th>Report Name</th><th>Simulation Name</th><th>Directory</th><th>Last Modified</th><th>Created</th></tr></thead>
				</table>
			</div>
		</div>
   </div> <!--end of menu-tab-->
   
   <!-- Modal for creating new experiments -->
	<div class="modal fade" id="newSimDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" >Enter the simulation name</h4>
				</div>
				<div class="modal-body">
					<input class="xlarge" id="Simulation_Name" name="xlInput" type="text" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
					<button type="button" id="okNewSimBtn" class="btn btn-primary">
						OK
					</button>
				</div>
			</div>
		</div>
	</div><!--end of modal-->
  
</script>


<script type="text/template" id="listSimulation">
        <tr>
        	<td class='experiment-name'><%=Experiment_Name%></td>
        	<td><%=Status%></td>
        	<td><%=FilePath%></td>
        	<td><%=LastModified%></td>
        	<td><%=Created%></td>
        </tr>
</script>

<script type="text/template" id="listReport">
        <tr>
        	<td class='report-name'><%=Report_Name%></td>
        	<td><%=Experiment_Name%></td>
        	<td><%=FilePath%></td>
        	<td><%=LastModified%></td>
        	<td><%=Created%></td>
        </tr>"
</script>



