/*******************************************/
/************* header & footer ************/
/******************************************/
#header{
/*margin-top:7%;*/
margin-bottom:0%;
font-size:20px;
text-align:left;
top:0;
}


.navbar-nav{
	margin-top:0.5%;
	margin-left: 6%;
}
.navbar{
	/*background-color:#eee;*/
	position:inherit;
}
.navbar .container{
	background-color:#eee;
	width:100%
}

.navbar-nav > li > a {
	font-weight:bold;
}

#footer{
width:80%;
color:#999;
margin:10% auto;
font-size:15px;
text-align:center;
}


/*********************************************/
/************* configuration form ************/
/*********************************************/
 body { 
 font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; 
 
 }
 
 
 #main { 
 min-height:350px;
 width:82%; 
 margin: 7% auto 1.5% auto; 
 /*border:solid 1px #b2b3b5; */
 -moz-border-radius:10px; 
 /*background-color:#f6f6f6;*/
 font-family:Lucida Sans, Arial, Helvetica, Sans-Serif; 
 }
        
 
form > .wizard > .steps{
 /*background-color:#eee;*/
 padding:1%;
 border-radius:5px;
}

form > .wizard > .content{
	min-height:550px;
}
 
 
 fieldset { 
 border:none; 
 min-height:350px;
 }

 
legend { 
font-size:18px; 
margin:0px; 
padding:10px 0px; 
color:#b0232a; 
font-weight:bold;
}


label { 
font-family:Arial;
display:block; 
margin:15px 0 5px;
}
        
input[type=text], input[type=password], select { 
width:180px; 
padding:5px; 
border:solid 1px #c7c7c7;
background-color:#FFFFFF;
}

input[type=submit]{
float:right;
padding:3px 10px;
background-color:rgb(235,115,16);
color:#FFFFFF;
border:none;
cursor:pointer;
}

input[readonly="readonly"], select[readonly="readonly"]{
	background-color:rgb(238, 238, 238);
}

select.readonly
{
	background-color:rgb(238, 238, 238);
}

.checkbox label{
	font-weight:bold;
}

.modal-body{
	/*min-height:500px;*/
	max-height:500px;
	overflow-y:scroll;
}

.popover
{
    min-width: 300px ! important;
    position: absolute;
    z-index: 9999;
}

.popover-title {
	font-weight:bold;
}

/******************************************/
/*************homepage layout**************/
/******************************************/


#menu-function{
width:85%;
/*float:float*/
}

#menu-tab{
width:70%;
margin:1.5% auto 1% auto;

}


#simulations-table, #reports-table {
width:100%;
margin:5px auto;
padding:10px;
border-collapse:collapse;
}

#simulations-table th, #reports-table th {
width:10% !important;
}


/******************************************/
/*************Report layout**************/
/******************************************/

#report-title{
margin:15px auto;
font-size:24px;
text-align:center;
width:300px;
font-weight:bold;
}

.chart-placeholder {
	height: 250px;
	font-size: 14px;
	line-height: 1.2em;
}

